<% bill = interest.data %>
<% action = item.data %>

<a href="<%= openstates_url bill %>#actions">
  <h4>
    Action on <%= bill['bill_id'] %>
  </h4>
</a>

<div class="subtitle">
  <span>State bill activity</span>
</div>

<p>
  <%= action['action'] %>
</p>