######## Miscellaneous tasks ###########

*/30 * * * * /projects/scout/current/config/cron/production/rake.sh subscriptions:reinitialize

# post-midnight, email a report of Google's crawling activity
0 6 * * * /projects/scout/current/config/cron/production/rake.sh analytics:google

# on Monday morning, email about last week's user activity for OS and Scout
0 6 * * 1 /projects/scout/current/config/cron/production/rake.sh analytics:weekly service=scout
0 6 * * 1 /projects/scout/current/config/cron/production/rake.sh analytics:weekly service=open_states


######## External data loading #########

# reload glossary terms every 20 minutes
*/20 * * * * /projects/scout/current/config/cron/production/rake.sh glossary:load

# reload legislators once a day
20 8 * * * /projects/scout/current/config/cron/production/rake.sh legislators:load

# reload agencies once a week
0 0 * * 0 /projects/scout/current/config/cron/production/rake.sh agencies:load



######## Sync and sitemap tasks #################

# update latest info every night and generate a sitemap

# speeches, regulations (last year), documents, and state bills get synced each day
30 13 * * * /projects/scout/current/config/cron/production/rake.sh sync:speeches && /projects/scout/current/config/cron/production/rake.sh sync:regulations since=current_year && /projects/scout/current/config/cron/production/rake.sh sync:documents && /projects/scout/current/config/cron/production/rake.sh sync:state_bills && /projects/scout/current/config/cron/production/rake.sh sitemap

# bills (current congress) can be run and re-run throughout the day
18 * * * * /projects/scout/current/config/cron/production/rake.sh sync:federal_bills since=current_congress

# regulations (last 3 days) get re-checked throughout the day
12 * * * * /projects/scout/current/config/cron/production/rake.sh sync:regulations

######## Delivery tasks ########

# email digests - once a day, in the morning, 8am/9am EST/EDT
0 13 * * * /projects/scout/current/config/cron/production/deliver.sh email_daily

# immediate emails - throughout the day, every 10 minutes
*/10 * * * *  /projects/scout/current/config/cron/production/deliver.sh email_immediate

# SMS messages - throughout the day, every 10 minutes
*/10 * * * * /projects/scout/current/config/cron/production/deliver.sh sms


######## Polling tasks  #########


### keyword search subscriptions

# bills in Congress - twice daily, bounded by THOMAS/GPO
0 11,18 * * *  /projects/scout/current/config/cron/production/check.sh federal_bills rate_limit=0

# bills in the states - 7am (Open States done scraping by 6:30am)
0 12 * * *     /projects/scout/current/config/cron/production/check.sh state_bills
0 12 * * *     /projects/scout/current/config/cron/production/check.sh state_legislators_bills

# speeches in Congress - twice daily, bounded by GPO
30 11,14 * * *  /projects/scout/current/config/cron/production/check.sh speeches

# regulations - FederalRegister.gov updates over the course of the day
0 10,17,21 * * *     /projects/scout/current/config/cron/production/check.sh regulations rate_limit=0

# documents - varies by source
30 11,15,19 * * *     /projects/scout/current/config/cron/production/check.sh documents rate_limit=0

# court opinions - we've established a 4:30am EST checking time
30 9 * * * /projects/scout/current/config/cron/production/check.sh court_opinions rate_limit=1

# item-specific subscriptions

# activity on bills in Congress - daily, bounded by THOMAS
0 8,14 * * *  /projects/scout/current/config/cron/production/check.sh federal_bills_activity

# upcoming notices for bills in Congress - every 10 minutes, bounded by party leadership
*/6 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_upcoming_floor

# upcoming hearings for bills in Congress - every 10 minutes, updated throughout the day
*/7 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_hearings

# vote results for bills in Congress - every 5 minutes, updated by House/Senate throughout the day
*/8 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_votes

# activity on bills in the States - 8am (Open States done scraping by 6:30am)
30 12 * * * /projects/scout/current/config/cron/production/check.sh state_bills_activity rate_limit=0.3
30 12 * * * /projects/scout/current/config/cron/production/check.sh state_bills_votes rate_limit=0.3

# external feed subscriptions, once an hour
0 * * * * /projects/scout/current/config/cron/production/check.sh feed


# keep the newline below
