######## Miscellaneous tasks ###########

*/30 * * * * /projects/scout/current/config/cron/production/rake.sh subscriptions:reinitialize

######## Delivery tasks ########

# email digests - once a day, in the morning
30 14 * * * /projects/scout/current/config/cron/production/deliver.sh email_daily

# immediate emails - throughout the day, every 10 minutes
*/10 * * * *  /projects/scout/current/config/cron/production/deliver.sh email_immediate

# SMS messages - throughout the day, every 10 minutes
*/10 * * * * /projects/scout/current/config/cron/production/deliver.sh sms


######## Polling tasks  #########

# keyword search subscriptions

# bills in Congress - twice daily, bounded by THOMAS/GPO
0 11,18 * * *  /projects/scout/current/config/cron/production/check.sh federal_bills rate_limit=0

# bills in the states - twice daily, Open States scrapers running throughout the day, but no need to be real time
30 11,15 * * *     /projects/scout/current/config/cron/production/check.sh state_bills rate_limit=0.3

# speeches in Congress - twice daily, bounded by GPO
0 8,14 * * *  /projects/scout/current/config/cron/production/check.sh speeches

# regulations - twice a day, FederalRegister.gov updates at unknown intervals
0 12,17 * * *     /projects/scout/current/config/cron/production/check.sh regulations rate_limit=0

# documents - varies by source
30 10,14 * * *     /projects/scout/current/config/cron/production/check.sh documents rate_limit=0


# item-specific subscriptions

# activity on bills in Congress - daily, bounded by THOMAS
0 8,14 * * *  /projects/scout/current/config/cron/production/check.sh federal_bills_activity

# upcoming notices for bills in Congress - every 10 minutes, bounded by party leadership
*/10 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_upcoming_floor

# upcoming hearings for bills in Congress - every 10 minutes, updated throughout the day
*/10 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_hearings

# vote results for bills in Congress - every 5 minutes, updated by House/Senate throughout the day
*/10 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_votes

# activity on bills in the States - once an hour, who knows when these will be updated
0 * * * * /projects/scout/current/config/cron/production/check.sh state_bills_activity

# activity on bills in the States - once an hour, who knows when these will be updated
0 * * * * /projects/scout/current/config/cron/production/check.sh state_bills_votes

# external feed subscriptions, once an hour
0 * * * * /projects/scout/current/config/cron/production/check.sh feed


# keep the newline below
