######## Miscellaneous tasks ###########

*/30 * * * * /projects/scout/current/config/cron/production/rake.sh subscriptions:reinitialize


######## Sync and sitemap tasks #################

# update latest info every night and generate a sitemap

30 13 * * * /projects/scout/current/config/cron/production/rake.sh sync:federal_bills congress=current && /projects/scout/current/config/cron/production/rake.sh sitemap


# do full sync once a week to catch any changed old stuff
0 0 * * 0 /projects/scout/current/config/cron/production/rake.sh sync:federal_bills

######## Delivery tasks ########

# email digests - once a day, in the morning, 8am/9am EST/EDT
0 13 * * * /projects/scout/current/config/cron/production/deliver.sh email_daily

# immediate emails - throughout the day, every 10 minutes
*/10 * * * *  /projects/scout/current/config/cron/production/deliver.sh email_immediate

# SMS messages - throughout the day, every 10 minutes
*/10 * * * * /projects/scout/current/config/cron/production/deliver.sh sms


######## Polling tasks  #########


### keyword search subscriptions

# bills in Congress - twice daily, bounded by THOMAS/GPO
0 11,18 * * *  /projects/scout/current/config/cron/production/check.sh federal_bills rate_limit=0

# bills in the states - 7am (Open States done scraping by 6:30am)
0 12 * * *     /projects/scout/current/config/cron/production/check.sh state_bills
0 12 * * *     /projects/scout/current/config/cron/production/check.sh state_legislators_bills

# speeches in Congress - twice daily, bounded by GPO
30 11,14 * * *  /projects/scout/current/config/cron/production/check.sh speeches

# regulations - FederalRegister.gov updates over the course of the day
0 10,17,21 * * *     /projects/scout/current/config/cron/production/check.sh regulations rate_limit=0

# documents - varies by source
30 11,15,19 * * *     /projects/scout/current/config/cron/production/check.sh documents rate_limit=0


# item-specific subscriptions

# activity on bills in Congress - daily, bounded by THOMAS
0 8,14 * * *  /projects/scout/current/config/cron/production/check.sh federal_bills_activity

# upcoming notices for bills in Congress - every 10 minutes, bounded by party leadership
*/10 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_upcoming_floor

# upcoming hearings for bills in Congress - every 10 minutes, updated throughout the day
*/10 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_hearings

# vote results for bills in Congress - every 5 minutes, updated by House/Senate throughout the day
*/10 * * * *   /projects/scout/current/config/cron/production/check.sh federal_bills_votes

# activity on bills in the States - 8am (Open States done scraping by 6:30am)
30 12 * * * /projects/scout/current/config/cron/production/check.sh state_bills_activity rate_limit=0.3
30 12 * * * /projects/scout/current/config/cron/production/check.sh state_bills_votes rate_limit=0.3

# external feed subscriptions, once an hour
0 * * * * /projects/scout/current/config/cron/production/check.sh feed


# keep the newline below
