<span class="logged_out">
    You are not logged in.
    <br/><br/>
    Search away, but you'll have to provide an email to save alerts.
</span>
<form action="/users/new" method="post" id="signup_form">
    <input class="redirect" name="redirect" type="hidden" />
    <input class="email" type="email" placeholder="your email" name="email" />

    <button class="text login">Go</button>
</form>