<% if logged_in? %>
    <button class="text track"
      data-item_type="<%= item_type %>"
      data-item_id="<%= item.id %>"
      data-keyword_name="<%= keyword_name %>"
      >
      Track
    </button>
<% else %>
    <div class="logged_out">
        <span>
          To track this bill and be notified of new activity, enter your email on the right.
        </span>
    </div>
<% end %>