/config.ru
/unicorn.rb
/unicorn.pid
/config/config.yml
/config/mongoid.yml
/config/services.yml
/vendor/gems
/.bundle
/public/sitemap
/public/assets/*/*.gz
/public/assets/*/*/*.gz

# copied into place on deploy
/public/robots.txt

/public/system

/tmp
/REVISION
/TODO*
/todo*
/log

*.kate-swp
.DS_Store
*.pyc

/stats.rb
/dump
/migration.rb
/*.txt
