/config.ru
/unicorn.rb
/unicorn.pid
/config/config.yml
/config/mongoid.yml
/config/services.yml
/vendor/gems
/.bundle

/tmp
/REVISION
/TODO*
/todo*
/log

*.kate-swp
.DS_Store

/stats.rb
/dump
/migration.rb
/*.txt
