<% vote = item.data %>
<title>
  <%= interest_name item.interest %> - <%= state_vote_type vote %> vote, <%= state_vote_count vote %>
</title>
<description><![CDATA[
  <%= vote['motion'] %>
]]></description>