<div class="pageTitle">
    <div class="trackSubscribe searchParameters">
        <h2>'transparency'</h2>
        in <a class="dataset" href="">congressional bills</a> and <a  class="dataset" href="">congressional speeches</a>
    </div>
    <button type="submit">
        <span>Subscribe</span>
    </button>
    <div class="clear"></div>
</div>

<div class="sidebar left">
    <div class="module filters">
        <h4>Filter search results</h4>
        <form>
            <fieldset>
                <legend>Congress</legend>
                <label><input type="checkbox" name="" value="" id="">Bills</label>
                <label><input type="checkbox" name="" value="" id="">Speeches</label>
            </fieldset>
            <fieldset>
                <legend>Regulations</legend>
                <label><input type="checkbox" name="" value="" id="">Proposed/final regulations</label>
            </fieldset>
            <fieldset>                          
                <legend>State Bills</legend>
                <input type="checkbox" name="" value="" id="">
                <select name="category" id="stateSelect">
                    <option value="" selected="selected">--- All States ---</option>
                    <% state_map.keys.sort.each do |code| %>
                        <option value="<%= code %>"><%= state_map[code] %></option>
                    <% end %>
                </select>
            </fieldset>
            <button type="submit">
                <span>Update results</span>
            </button>
        </form>
    </div>
    <div class="module searches recent">
        <h4>Your recent searches</h4>
        <ul>
            <li><a href="">item one</a></li>
            <li><a href="">item two</a></li>
            <li><a href="">item three</a></li>
            <li><a href="">item four</a></li>
            <li><a href="">item five</a></li>
        </ul>
    </div>
</div>
<div class="contentArea right">
    <section class="clear">
        <h3>Congressional Bills</h3>
        <ul>
            <li class="trackable">
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
                <small>View this bill’s detail page to follow it wherever it goes.</small>
            </li>
            <li class="trackable">
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
                <small>View this bill’s detail page to follow it wherever it goes.</small>
            </li>
            <li class="trackable">
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
                <small>View this bill’s detail page to follow it wherever it goes.</small>
            </li>
            <li class="trackable">
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
                <small>View this bill’s detail page to follow it wherever it goes.</small>
            </li>
            <li class="trackable">
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
                <small>View this bill’s detail page to follow it wherever it goes.</small>
            </li>
        </ul>
        <a href="/moreResults.html" class="viewMore">View more <span class="dataSet">Congressional Bill</span> results</a>
    </section>
    <section class="clear">
        <h3>Congressional Speeches</h3>
        <ul>
            <li>
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
            </li>
            <li>
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
            </li>
            <li>
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
            </li>
            <li class="trackable">
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
                <small>View this bill’s detail page to follow it wherever it goes.</small>
            </li>
            <li>
                <h4><a href="/entry.html">Excess Federal Building and Property Disposal Act of 2011</a></h4>
                <time datetime="" pubdate>September 20, 2011</time>
                <p>...be accessible by the public at no cost through the website of the General Services Administration. "(d) <em>Transparency</em> of Database.--To the extent practicable, the Administrator shall ensure that the database-- "(1)...</p>
            </li>
        </ul>
        <a href="" class="viewMore">View more <span class="dataSet">Congressional Bill</span> results</a>
    </section>
</div>

<div class="clear"></div>

<div class="flag overlay">
    <div class="clear"></div>
    <div class="light white">
        <div class="clear"></div>
        <p>You've modified the search parameters on this subscription. Would you like to update it?</p>
        <a class="button update textIndent" type="submit">
            Update
        </a>
        <a class="ignore" type="submit">
            No thanks
        </a>
    </div>
    <div class="fade black"></div>  
</div>