<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <script type="text/javascript" src="http://use.typekit.com/bsl1eko.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Scout</title>

    <link rel="stylesheet" href="/css/html5-reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
  
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">

    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/jquery.placehold-0.3.min.js"></script>
    <script src="/js/h5f.min.js"></script>
    <script src="/js/main.js"></script>

</head>
<body class="search results">

    <div class="headerWrapper">
        <header class="contentWrapper">
            <nav>
                <ul id="userNav">
                    <% if logged_in? %>
                        <li id="subscriptions">
                            <a href="/subscriptions.html">
                                Subscriptions
                                <span class="count">(7)</span>
                            </a>
                        </li>
                        <li id="settings">
                            <a href="/settings.html">Settings</a>
                        </li>
                        <li id="logout">
                            <a href="/logout.html">Log Out</a>
                        </li>
                    <% else %>
                        <li id="login">
                            <a href="/login.html">Login</a>
                        </li>
                        <li id="signup">
                            <a href="/signup.html">Sign up</a>
                        </li>
                    <% end %>
                </ul>
            </nav>
            <div class="clear"></div>
            <a href="/index.html">
                <h1 class="textIndent">Scout</h1>
            </a>
            <form action="/search/" method="get" id="newsearchform">
                <div> 
                    <fieldset class="field">
                        <label for="id_q">Search</label>
                        <input type="search" placeholder="Start new search...">
                    </fieldset>
                    <fieldset class="filters clear">
                        <legend>Select a category</legend>

                        <label for="id_category">Category</label>
                        <select name="category" id="id_category">
                            <option value="" selected="selected">------</option>
                            <option value="17">Congressional</option>
                            <option value="27">Regulatory</option>
                            <option value="37">State</option>
                        </select>
                    
                        <ul id="congressionalCats">
                            <li><label><input type="checkbox" name="" value="" id="">Congressional bills</label></li>
                            <li><label><input type="checkbox" name="" value="" id="">Congressional speeches</label></li>
                        </ul>
                        <ul id="regulatoryCats">
                            <li><label><input type="checkbox" name="" value="" id="">Proposed/Final regulations</label></li>
                            <li><label><input type="checkbox" name="" value="" id="">Comments on regulations</label></li>
                        </ul>
                        <div id="stateCats">
                            <label for="id_stateSelect">Select a state</label>
                            <select name="category" id="stateSelect">
                                <option value="" selected="selected">All States</option>
                                <option value="al">Alabama</option>
                                <option value="ak">Alaska</option>
                                <option value="ar">Arizona</option>
                            </select>
                            <a class="add">add</a>
                            <span class="addedParameter">term one<a class="remove">remove</a></span>
                        </div>
                    </fieldset>
                </div>

                <button class="textIndent" type="submit">
                    <span>Search</span>
                </button>
                </ul>
            </form>
        </header>
    </div>
    
    <div class="contentWrapper">

        <%= yield %>

    </div>

    <div class="footerWrapper">
        <footer class="contentWrapper">
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="aboutSF">
                <div class="sunlightFoundation textIndent">
                    Sunlight Foundation
                </div>
                <p>
                    Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. 
                </p>
                <p>
                    Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.
                </p>
            </div>
            <div class="clear"></div>
        </footer>
    </div>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22821126-16']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>