<form action="#" method="get" id="search_form">
    <fieldset class="searchField">
        <label for="query">Search</label>
        <input class="transparent query" name="query" type="search" 
            placeholder="<%= searching? ? "Start a new search..." : "Search for a keyword or phrase..." %>" />
    </fieldset>

    <div class="clear"></div>

    <button type="submit">
        <span>Create Alert</span>
    </button>
    <div class="clear"></div>
</form>