<form action="#" method="get" id="search_form">
    <fieldset class="searchField">
        <label for="query">Search</label>
        <input class="transparent query" name="query" type="search" 
            placeholder="<%= searching? ? "Start a new search..." : "Search for a keyword or phrase..." %>" 
            value="<%= h params[:query] %>"
            />
    </fieldset>

    <div class="clear"></div>

    <button type="submit">
        <span>Create Alert</span>
    </button>

    <div class="clear"></div>

    <fieldset class="query_type">
        <input id="query_type_simple" type="radio" name="query_type" value="simple" <%= "checked" if params[:query_type] != "advanced" %> />
        <label for="query_type_simple">Simple phrase</label>
        <input id="query_type_advanced" type="radio" name="query_type" value="advanced" <%= "checked" if params[:query_type] == "advanced" %>/>
        <label for="query_type_advanced">Advanced</label>
    </fieldset>
</form>