<hr style="margin-top: 30px"/>

<p>
  These notifications are powered by the nonpartisan <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, a nonprofit that uses cutting-edge technology and ideas to make government transparent and accountable.
</p>

<p>
  <a href="<%= config[:hostname] %>/account/subscriptions">Manage your subscriptions</a> on the web, or <a href="<%= config[:hostname] %>/account/unsubscribe">unsubscribe from all emails</a>.
</p>

<p>
  Reply to this email to send feedback, bug reports, or effusive praise our way.
</p>