<hr style="margin-top: 30px"/>

<p>
  You can <a href="<%= email_url "http://openstates.org/favorites/", service: "open_states" %>">manage your subscriptions</a> on the web. Reply to this email to send feedback, bug reports, or effusive praise our way.
</p>

<p>
  Open States notifications are provided by the nonpartisan <a href="<%= email_url "http://sunlightfoundation.com", service: "open_states" %>">Sunlight Foundation</a>, a nonprofit that uses cutting-edge technology and ideas to make government transparent and accountable.
</p>

<p>
  For alerts on federal legislation, regulations, and other documents, check out Sunlight's <a href="<%= email_url "https://scout.sunlightfoundation.com", service: "open_states" %>">Scout</a>.
</p>