<hr style="margin-top: 30px"/>

<p>
  You can <a href="http://openstates.org/favorites/">manage your subscriptions</a> on the web. Reply to this email to send feedback, bug reports, or effusive praise our way.
</p>

<p>
  Open States notifications are provided by the nonpartisan <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, a nonprofit that uses cutting-edge technology and ideas to make government transparent and accountable.
</p>

<p>
  For alerts on federal legislation, regulations, and other documents, check out Sunlight's <a href="https://scout.sunlightfoundation.com">Scout</a>.
</p>