<% content_for :header do %>
  Enter in keywords below to get notified when they appear in bills that are introduced or revised.
<% end %>

<form action="/subscriptions/new">

  <input type="submit" value="Subscribe" />
</form>