<% set_home %>

<div class="home modules">
  <div class="module samples">
    <h3>Some Examples</h3>
    <ul>
      <li>Bills in Congress on <a href="/search/federal_bills/freedom%20of%20information">freedom of information</a>, and in <a href="/search/state_bills/freedom%20of%20information">states around the US</a>.</li>
      <li>What people are <a href="/search/speeches/immigration">saying about immigration</a> on the floor of Congress.</li>
      <li>Regulations about <a href="/search/regulations/offshore%20drilling">offshore drilling</a>, as they're published.</li>
    </ul>
  </div>
  <div class="module updates">
    <h3>Updates</h3>
    <ul>
      <li>
        <time datetime="2012-04-18" pubdate>April 2012</time>
        Opened the site for public beta.
      </li>
    </ul>       
  </div>
</div>