<section class="introduction">
    <p>
        Use the box above to search through bills in Congress, speeches from Congresspeople, state legislation, and proposed and final federal regulations.
    </p>
    <p>
        If you're logged in, you can "follow" searches. Searches you follow will appear on the right, and you'll be emailed in the morning if there's anything new.
    </p>
</section>