<% content_for :header do %>
  <h2>
    search government, get notified
  </h2>
<% end %>

<section class="signup">

  <form action="/users/new" method="post" id="signup_form">
    <input class="redirect" class="redirect" type="hidden" value="<%= params[:redirect] %>" />
    <input class="email" type="email" placeholder="your email" name="email" />

    <button class="text">
      Go
    </button>
  </form>

  <script type="text/javascript">
    H5F.setup(document.getElementById("signup_form"));
  </script>

</section>