<% set_home %>

<div class="home modules">
	<div class="module whatUp">
		<h3>Rapid Retrieval</h3>
		<ul>
			<li>
				Set up alerts and feeds on updates from across the government.
			</li>
			<li>
				Search through every bill and regulation in the federal government, as they're published.
			</li>
			<li>
				Follow bills in all 50 states, through our powerful <a href="http://openstates.org">Open States</a> project.
			</li>
		</ul>
	</div>
	<div class="module updates samples">
		<h3>Scout For</h3>
		<ul>
			<li>
				Everything the government is doing and saying about <a href="/search/all/freedom%20of%20information">freedom of information</a>.
			</li>
			<li>
				The FCC's proposals on broadcasters' <a href="/search/regulations/public%20file?regulations[agency]=161&regulations[stage]=proposed">public files</a>.
			</li>
			<li>
				Action on the <a href="/item/bill/hr2146-112">DATA Act</a> as it makes its way through Congress in an election year.
			</li>
		</ul>
	</div>
</div>