<% content_for :header do %>
  Enter your email to log in. An account will be created automatically if needed.
<% end %>

<section class="signup">

  <form action="/users/new" method="post">
    <input class="email" type="email" placeholder="your email address" name="email" />

    <input class="submit" type="submit" value="Go" />
  </form>

</section>