<% content_for :header do %>
  Enter in your email to get started. An account will be automatically created for you.
<% end %>

<section class="signup">

  <form action="/users/new" method="post">
    <input class="email" type="email" placeholder="your email address" name="email" />

    <input class="submit" type="submit" value="Go" />
  </form>

</section>