<% set_home %>

<div class="home modules">
  <div class="module samples">
    <h3>Scout For</h3>
    <ul>
      <li>Bills on freedom of information in Congress, and in states around the US.</li>
      <li>What people are saying about immigration on the floor of Congress.</li>
      <li>Regulations about offshore drilling, as they're published.</li>
    </ul>
  </div>
  <div class="module updates">
    <h3>Updates</h3>
    <ul>
      <li><time datetime="" pubdate>April 2012</time> Bills on freedom of information in Congress, and in states around the US.</li>
      <li><time datetime="" pubdate>April 2012</time> What people are saying about immigration on the floor of Congress.</li>
      <li><time datetime="" pubdate>April 2012</time> Regulations about offshore drilling, as they're published.</li>
    </ul>       
  </div>
</div>