<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>Alarms for Government</title>  
  
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <script src="/js/jquery-1.6.2.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <header>
    <% if logged_in? %>
      <div class="login">
        <span>
          <%= current_user.email %>
        </span>
        [<a class="logout" href="/logout">logout</a>]
      </div>
    <% end %>
    
    
    <%= styled_flash %>
    
    <p>
      <% yield_content :header %>
    </p>
  </header>
  
  <section class="main">
    <%= yield %>
  </section>

  <footer>
    For the interloper: this is a private alpha project by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, not yet for public use or distribution.<br/>
    Please be kind and <a href="mailto:eric@sunlightfoundation.com">write to us privately</a> before you go posting about it.
  </footer>
  
</body>

</html>