<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title></title>  
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <script src="/js/jquery-1.7.1.min.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  <script src="/js/h5f.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <header><!-- hidden -->
    <% yield_content :header %>
  </header>

  <%= yield %>
  
</body>

</html>