<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title></title>  
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <script src="/js/jquery-1.6.2.min.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <header>
    <!-- <h1>
      government
    </h1> -->
    
    <h2>
      search government, get notified
    </h2>
  
    <% if logged_in? %>
      <div class="login">
        <span>
          <%= current_user.email %>
        </span>
        <a class="logout" href="/logout">logout</a>
      </div>
    <% end %>
    
    <%= styled_flash %>
  </header>
  
  <section class="main">
    <%= yield %>
  </section>

  <footer>
    For the interloper: this is a private alpha project by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, not yet for public use or distribution.<br/>
    Please be kind and <a href="mailto:eric@sunlightfoundation.com">write to us privately</a> before you go posting about it.
  </footer>
  
</body>

</html>