<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>Alarms for Government</title>  
  
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Alarm Site</h1>
  <h2>name TBD</h2>
  
  <% if logged_in? %>
    <span class="login">
      <%= current_user.email %>
    </span>
  <% end %>
  
  <%= styled_flash %>
  
  <header>
    <% yield_content :header %>
  </header>
  
  <%= yield %>

  <footer>
    For the interloper: this is a private alpha project by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, not yet for public use or distribution. Please be kind and <a href="mailto:eric@sunlightfoundation.com">write to us privately</a> before you go posting about it.
  </footer>
  
</body>

</html>