<% if items.any? %>

  <p class="header">
    Latest introduced or updated bills for "<%= subscription.data['keyword'] %>":
  </p>

  <ul>
    <% items.each do |item| %>
      <%= partial :"subscriptions/result_item", :locals => {:item => item} %>
    <% end %>
  </ul>
  
<% else %>
  
  <p>
    No results found for this search.
  </p>
  
<% end %>