
  <% if items.any? %>

    <ul class="items">
      <% current_date = nil %>
      <% items.each do |item| %>
      
        <li class="result <%= item.subscription.subscription_type %>">
          <div class="left">
            <p class="date">
              
                <%= just_date_year item.date %>
                <% current_date = item.date.strftime("%Y-%m-%d") %>
              
            </p>
          </div>
          <div class="right">
            <%= partial :"subscriptions/#{item.subscription.subscription_type}/result", :locals => {:item => item, :keyword => keyword} %>
          </div>
        </li>
        
      <% end %>
    </ul>
    
  <% else %>
    <p class="none atAll">
        No results found for this search.
    </p>
  <% end %>
