<% content_for :sidebar_right do %>
    <%= recent_searches %>
<% end %>

<div class="entry contentArea left <%= interest_type %>">

    <div class="loading">
        <span>Loading ...</span>
    </div>

    <div class="error">
        Error loading information.
    </div>

    <div class="content">
        <!-- load in content -->
    </div>

</div>


<script type="text/javascript">

  $(function() {
    var container = $(".entry.contentArea");

    container.find(".loading").show();
    container.find(".error").hide();
    container.find(".content").hide();

    $.get("/fetch" + window.location.pathname, {}, function(data) {
        
        container.find(".loading").hide();
        container.find(".content").show().html(data.html);
        container.find("hood").show().find("a").attr("href", data.item_url);

    }).error(function() {
        container.find(".error").show();
    })
  });
</script>