<section class="show <%= item_type %>" id="item-<%= item_id %>">

  <div class="loading_container">
    <span>loading...</span>
  </div>

</section>

<script type="text/javascript">
  // put in a delay block in case this is being rendered before the layout
  var item_type = "<%= item_type %>";
  var item_id = "<%= item_id %>";
  var container = $("#item-" + item_id);
  container.find(".loading_container").show();

  $(function() {
    $.get("/find/" + item_type + "/" + item_id, {}, function(data) {
      container.html(data.html);
    }).error(function() {
      showError("Couldn't load " + item_type + " with id " + item_id);
    })
  });
</script>