<section class="results" id="results">
    <%= styled_flash %>

    <div class="container">
        <header>
            <h2><%= interest_name interest %></h2>
            <h4>Recent results</h4>
        </header>
    </div>

    <ul class="items">
        <% if items and items.any? %>  
          <% items.each do |item| %>
            <%= partial :"partials/item", :locals => {:item => item, :interest_in => interest.in} %>
          <% end %>
        <% else %>
            <p>No results found yet for your search.</p>
        <% end %>
    </ul>
</section>