<% content_for :title do %>
    <h2>Subscriptions</h2>
<% end %>

<% content_for :sidebar_right do %>
    <%= recent_searches %>
<% end %>

<div class="contentArea left">
    <div class="rss cluster">
                Subscribe to an aggregate of all your searches by following this RSS feed. <a class="rssFeed">RSS</a>
    </div>
    <form>
        <div class="subscriptionsList">
            <fieldset class="subscription">
                <h3>Transparency</h3><a class="rssFeed">RSS</a>
                <div class="searchParameters"><span class="dataSet">'Congressional Bills'</span>, <span class="dataSet">'Comments on Regulations'</span></div>
                <h5 class="radioLabel">Notification Type</h5>
                <input type="radio" name="transparency" id="id_emailNotifications" /><span>Email</span>
                <input type="radio" name="transparency" id="id_smsNotifications" /><span>SMS</span>
                <input type="radio" name="transparency" id="id_smsNotifications" /><span>RSS Only</span>
                <div class="removeSubscription">
                    <input type="checkbox" name="transparency" id="id_smsNotifications" /><span>Remove this subscription</span>
                </div>
            </fieldset>
            <fieldset class="subscription">
                <h3>Open Gov</h3><a class="rssFeed">RSS</a>
                <div class="searchParameters"><span class="dataSet">'Congressional Bills'</span>, <span class="dataSet">'Comments on Regulations'</span></div>
                <h5 class="radioLabel">Notification Type</h5>
                <input type="radio" name="open_gov" id="id_emailNotifications" /><span>Email</span>
                <input type="radio" name="open_gov" id="id_smsNotifications" /><span>SMS</span>
                <input type="radio" name="open_gov" id="id_smsNotifications" /><span>RSS only</span>
                <div class="removeSubscription">
                    <input type="checkbox" name="transparency" id="id_smsNotifications" /><span>Remove this subscription</span>
                </div>
            </fieldset>
            <fieldset class="subscription">
                <h3>Alternative Energy</h3><a class="rssFeed">RSS</a>
                <div class="searchParameters"><span class="dataSet">'Congressional Bills'</span>, <span class="dataSet">'Comments on Regulations'</span></div>
                <h5 class="radioLabel">Notification Type</h5>
                <input type="radio" name="alternative_energy" id="id_emailNotifications" /><span>Email</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>SMS</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>RSS only</span>
                <div class="removeSubscription">
                    <input type="checkbox" name="transparency" id="id_smsNotifications" /><span>Remove this subscription</span>
                </div>
            </fieldset>
            <fieldset class="subscription">
                <h3>Alternative Energy</h3><a class="rssFeed">RSS</a>
                <div class="searchParameters"><span class="dataSet">'Congressional Bills'</span>, <span class="dataSet">'Comments on Regulations'</span></div>
                <h5 class="radioLabel">Notification Type</h5>
                <input type="radio" name="alternative_energy" id="id_emailNotifications" /><span>Email</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>SMS</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>RSS only</span>
                <div class="removeSubscription">
                    <input type="checkbox" name="transparency" id="id_smsNotifications" /><span>Remove this subscription</span>
                </div>
            </fieldset>
            <fieldset class="subscription">
                <h3>Alternative Energy</h3><a class="rssFeed">RSS</a>
                <div class="searchParameters"><span class="dataSet">'Congressional Bills'</span>, <span class="dataSet">'Comments on Regulations'</span></div>
                <h5 class="radioLabel">Notification Type</h5>
                <input type="radio" name="alternative_energy" id="id_emailNotifications" /><span>Email</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>SMS</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>RSS only</span>
                <div class="removeSubscription">
                    <input type="checkbox" name="transparency" id="id_smsNotifications" /><span>Remove this subscription</span>
                </div>
            </fieldset>
            <fieldset class="subscription">
                <h3>Alternative Energy</h3><a class="rssFeed">RSS</a>
                <div class="searchParameters"><span class="dataSet">'Congressional Bills'</span>, <span class="dataSet">'Comments on Regulations'</span></div>
                <h5 class="radioLabel">Notification Type</h5>
                <input type="radio" name="alternative_energy" id="id_emailNotifications" /><span>Email</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>SMS</span>
                <input type="radio" name="alternative_energy" id="id_smsNotifications" /><span>RSS only</span>
                <div class="removeSubscription">
                    <input type="checkbox" name="transparency" id="id_smsNotifications" /><span>Remove this subscription</span>
                </div>
            </fieldset>
        </div>
        <div class="clear"></div>
        <button class="textIndent" type="submit">
            <span>Search</span>
        </button>
    </form>
</div>