* {font-family: Ubuntu, sans-serif;}
body {background-color: #f9f9f9;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong {font-weight: normal; font-style: normal;}
ul, ol {list-style-type: none;}
a {color: #335577;}

header, footer, section.main {
  width: 980px; 
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

header {margin-top: 20px; margin-bottom: 10px;}

button {
  border-color: #8F8F8F;
  border-width: 1px;
  border-radius: 5px;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  background-color: #e5e5e5;
}

button.image {
  color: transparent; /* Fix for Firefox */
  text-align: left;
  line-height: 1 !important;
  background-position: center;
  background-repeat: no-repeat;
}

button.text {
  padding: 10px 15px;
  font-size: 100%;
  color: #4c4c4c;
}

button.text.image {
  color: #4c4c4c;
  background-position: left;
}

header div.login {
  font-size: 90%;
  margin-bottom: 30px;
  position: absolute;
  right: 0;
  top: 0;
  color: #444;
}

header h1 {
  font-size: 300%;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

header h2 {
  font-size: 200%;
  text-align: center;
  color: #335577;
}

header div.login {
  font-size: 80%;
  margin-top: 10px;
}

header div.login span {
  padding-right: 5px;
}

header #flash div.flash {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

header #flash div.flash.success {
  color: #348145;
}

header #flash div.flash.failure {
  color: #C13445;
}


header p.content {
  background-color: #c9e9f5;
  padding: 20px;
  text-align: center;
  line-height: 140%;
}

section.main {
  padding: 20px 0; height: 0;
}

footer {
  text-align: center;
  font-size: 90%;
  line-height: 25px;
  clear: both;
  padding-top: 30px;
  display: none;
}

section.signup {
  text-align: center;
  position: relative;
}

section.signup form input.email {
  font-size: 250%;
  padding: 10px 10px;
  width: 700px;
}

section.signup button {
  width: 75px;
  height: 70px;
  font-size: 150%;
  margin-left: 10px;
  font-weight: bold;
  position: absolute; top: 0;
}


/* adding new subscriptions */

section.entry {
  width: 100%; height: 100px;
  position: relative;
  margin-bottom: 0px;
}

section.entry div.errors {
  color: #c42323;
  font-size: 90%;
  padding-bottom: 10px;
}

section.entry input[type=text] {
  font-size: 250%;
  float: left;
  padding: 10px 10px; 
  width: 860px;
}

/* adapted from http://stackoverflow.com/questions/600438/css-to-hide-input-button-value-text */
section.entry button.search {
  float: left;
  margin-left: 10px;
  width: 75px;
  height: 75px;
  
  background-image: url(/images/search-70.png);
}


/* subscription display */

section.sidebar {
  clear: both;
  position: absolute;
  right: 0; 
  width: 300px; 
  padding-left: 20px;
  border-left: 1px solid #d5d5d5;
  min-height: 500px;
}

section.sidebar div.save.buttons {
  margin-bottom: 20px;
  height: 30px;
}

section.sidebar div.save.buttons button {
  padding: 5px;
  color: #444;
}

section.sidebar div.save.buttons button.nothing {
  background-color: #c5c5c5;
  opacity: 0.35;
}

section.sidebar div.save.buttons button.save {
  display: none;
  color: #aa0000;
  background-color: #e5e5e5;
}

section.sidebar div.save.buttons button.save:hover {
  background-color: #c5c5c5;
}

section.sidebar div.save.buttons button.saving {
  display: none;
  padding-left: 30px;
  background-image: url(/images/loader-small.gif);
  background-position: 10px center;
  cursor: default;
  background-color: #c5c5c5;
}

section.sidebar div.save.buttons button.saved {
  display: none;
  background-color: #c5c5c5;
  cursor: default; opacity: 0.35;
}

section.sidebar ul.filters {
  padding-bottom: 10px;
}

section.sidebar ul.filters li {
  margin: 10px 0;
}

section.sidebar ul.filters li button.filter {
  padding: 0px;
  width: 100%;
  text-align: left;
  color: #f5f5f5;
  background-color: #C7DBF1; color: #444;
}

section.sidebar ul.filters li button.filter:disabled {
  opacity: 0.35; background-color: #aaa;
}

section.sidebar ul.filters li button.filter span.status {
  padding: 5px 7px;
  font-size: 80%;
  text-transform: uppercase;
  border-right: 1px solid #777;
  display: inline-block;
  font-weight: bold;
}
section.sidebar ul.filters li button.filter span.name {
  padding: 5px 7px; display: inline-block;
  font-size: 90%;
}

section.sidebar ul.filters li button.filter span.results {
  padding: 5px 7px; display: inline-block; 
  float: right; font-size: 80%;
  border-left: 1px solid #777;
}
section.sidebar ul.filters li button.filter.off {
   opacity: 0.35;
}

section.sidebar ul.filters li button.filter.on {
  
}

ul.subscriptions li.keyword {
  width: 100%; position: relative;
  padding: 30px 0 30px 0; clear: both;
  border-top: 1px solid #d5d5d5;
}

ul.subscriptions li.keyword h2 {
  font-weight: normal;
  font-size: 150%;
}

ul.subscriptions li.keyword button.remove {
  width: 28px;
  height: 28px;
  
  background-image: url(/images/x-24.png);
  background-color: #eeeeee;
  
  position: absolute; right: 0; top: 30px;
}


/* results section */

section.results {
  position: absolute; left: 0;
  width: 650px; margin-right: 30px;
}
section.results div.container {width: 625px;}
section.results div.loading_container {
  display: none; margin: 0 auto; width: 80%;
}

section.results div.loading_container img {
  margin-top: 10px;
}

section.results div.loading_container span {
  color: #444; font-size: 150%;
  display: block;
  padding-top: 20px; padding: 20px;
  padding-left: 50px;
  background-position: left;
  background-image: url(/images/loader.gif);
  background-repeat: no-repeat;
}

section.results ul {
  list-style-type: none;
  margin-top: -30px;
}

section.results ul p.date {
  font-size: 120%;
  width: 100%;
  margin-top: 50px; margin-bottom: 10px;
  text-align: center;
  color: #335577;
}


/* common to results */

section.results li.result {
  width: 630px;
  border-left-width: 3px;
  border-left-style: solid;
  border-radius: 15px;
  border-left-color: #579;
  padding: 15px 0px 15px 15px;
  margin-bottom: 40px;
}

section.results li.result h2 {
  margin-bottom: 10px; font-size: 125%;
}

section.results li.result h3 {
  margin-bottom: 10px; font-size: 100%;
}

section.results li.result dl.highlight dt {
  margin-top: 10px;
  margin-bottom: 5px;
}

section.results em.highlight, section.results .highlight em {
  font-weight: bold; 
  font-style: normal; 
  color: #aa0000;
  padding: 2px 5px;
  background-color: #dddddd;
}

section.results li.result section.more {
  font-size: 100%; margin-top: 10px;
}

section.results li.result section.more a {
  margin-left: 10px;
}

section.results .content {
  padding: 10px; color: #444; line-height: 20px; font-size: 90%;
}

section.results .subtitle {
  font-size: 100%;
}


/* federal bill results */

section.results li.federal_bills span.code {
  
}

section.results li.federal_bills span.version {
  font-weight: normal; 
}

section.results li.federal_bills a.file {
  margin-left: 5px;
}

section.results li.federal_bills span.dates {
  margin-top: 10px; display: block;
  font-size: 90%;
}

section.results li.federal_bills span.dates strong {
  font-style: italic;
}

section.results li.state_bills h2 a.read {
  margin-left: 5px;
}

section.results li.state_bills h3 {
  
}

section.results li.state_bills div.subjects {
  margin-top: 8px; font-size: 90%;
}