body {background-color: #f9f9f9;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong {font-weight: normal; font-style: normal;}
ul, ol {list-style-type: none;}
a {color: #22447f;}

header, footer, section.main {
  width: 980px;
  margin-left: 50px;
  margin-right: 50px;
}

header {margin-top: 30px; margin-bottom: 10px;}
footer {margin-top: 30px; margin-bottom: 30px;}

header div.login {
  font-size: 90%;
  margin-bottom: 30px;
}

header div.login span {
  font-style: italic;
}

header #flash div.flash {
  padding: 10px 20px;
  margin-bottom: 15px;
  color: #f5f5f5;
}

header #flash div.flash.success {
  background-color: #348145;
}

header #flash div.flash.failure {
  background-color: #C13445;
}


header p.content {
  background-color: #c9e9f5;
  padding: 20px;
  text-align: center;
  line-height: 140%;
}

section.main {
  padding: 20px 0;
}

footer {
  text-align: center;
  font-size: 90%;
  line-height: 25px;
  clear: both;
  padding-top: 30px;
}

section.signup {text-align: center;}

section.signup form input.email {
  font-size: 125%;
  padding: 5px 5px;
}

section.signup form input.submit {
  font-size: 125%;
  padding: 5px 20px;
  margin-left: 5px;
}


/* adding new subscriptions */

section.entry {
  width: 100%;
  margin-bottom: 30px;
}

section.entry div.errors {
  color: #c42323;
  font-size: 90%;
  padding-bottom: 10px;
}

section.entry input[type=text] {
  font-size: 100%; float: left;
  padding: 10px 10px; width: 400px;
}

section.entry input[type=submit], section.entry input[type=button] {
  font-size: 125%;
  padding: 8px 20px;
  float: left; 
  margin-left: 10px;
}


/* subscription display */

ul.subscriptions {
  float: left; clear: both;
  width: 450px; margin-top: 30px;
  margin-right: 40px;
}

ul.subscriptions li.existing {
  width: 450px; position: relative;
  padding: 10px 0 20px 0; clear: both;
}

ul.subscriptions li.existing {
  border-top: 1px solid #128234;
}

ul.subscriptions li.existing input[type=submit], section.subscriptions li.existing input[type=button] {
  font-size: 100%;
  padding: 5px 10px;
}

ul.subscriptions li.existing h2 {
  
  font-weight: normal;
  font-size: 150%;
  padding: 5px 0px 10px 0px;
}

ul.subscriptions li.existing div.buttons {
  position: absolute; right: 0; top: 10px;
}

ul.subscriptions li.existing ul.types {
  padding-left: 20px;
}

ul.subscriptions li.existing ul.types li {
  display: inline; font-size: 90%;
}

ul.subscriptions li.existing ul.types li input[type=checkbox] {
  margin-top: -1px;
}

ul.subscriptions li.existing ul.types li img.loading {
  display: none;
}


/* results section */

section.results {
  float: left; 
  width: 450px;
  margin-left: 40px;
}

section.results div.loading_container {display: none;}

section.results img.loading {
  margin: 0 auto; display: block;
}

section.results p.header {
  font-size: 125%; color: #444;
  margin-bottom: 30px; text-align: center; width: 100%;
  xdisplay: none;
}

section.results ul {list-style-type: none;}
section.results ul p.date {
  font-size: 90%;
  width: 100%;
  
  padding: 3px 0;
  border: 1px solid #5577bb;
  background-color: #e5e5ff;
  border-width: 1px 0;
  margin: 20px 0;
  text-align: center;
  
}


/* federal bill results */

section.results li.bill {
  padding: 15px 0 15px 0;
  margin-bottom: 7px;
}

section.results li.bill h2 {
  font-size: 90%; 
  margin-bottom: 7px;
}

section.results li.bill h2 span.code {
  font-weight: bold;
}

section.results li.bill h2 span.version {
  font-weight: normal; 
}

section.results li.bill h2 a.file {
  margin-left: 5px;
}

section.results li.bill h3 {
  font-size: 110%; 
}

section.results li.bill h4 {
  font-size: 90%; 
}

section.results li.bill span.dates {
  margin-top: 10px; display: block;
  font-size: 90%;
}

section.results li.bill span.dates strong {
  font-style: italic;
}

section.results li.bill dl {
  font-size: 90%;
}

section.results li.bill dl dt {
  margin-top: 10px;
}

section.results li.bill dl dd {
  background-color: #C9F5E9;
  padding: 10px; 
  margin-left: 0px; margin-top: 5px;
}

section.results li.bill dl dd em {
  font-weight: bold; font-style: normal;
}

section.results li.bill section.links {
  font-size: 90%; margin-top: 10px;
}

section.results li.bill section.links a {
  margin-left: 10px;
}

section.results li.state_bill {
  margin: 30px 0;
}

section.results li.state_bill h2 span.code {
  font-weight: bold; 
}

section.results li.state_bill h2 span.state {
  
}

section.results li.state_bill h3 {
  font-size: 110%; 
  margin-top: 8px;
}
section.results li.state_bill div.subjects {
  margin-top: 8px; font-size: 90%;
}