* {font-family: Ubuntu, sans-serif;}
body {background-color: #f9f9f9;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong {font-weight: normal; font-style: normal;}
ul, ol {list-style-type: none;}
a {color: #22447f;}

header, footer, section.main {
  width: 980px; 
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

header {margin-top: 20px; margin-bottom: 10px;}
footer {
  position: absolute; bottom: 0;
  margin-bottom: 30px;
}

header div.login {
  font-size: 90%;
  margin-bottom: 30px;
  position: absolute;
  right: 0;
  top: 0;
  color: #444;
}

header h1 {
  font-size: 400%;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

header h2 {
  font-size: 100%;
  text-align: center;
  color: #68a;
}

header div.login span {
  font-style: italic;
}

header #flash div.flash {
  padding: 10px 20px;
  margin-bottom: 15px;
  color: #f5f5f5;
}

header #flash div.flash.success {
  background-color: #348145;
}

header #flash div.flash.failure {
  background-color: #C13445;
}


header p.content {
  background-color: #c9e9f5;
  padding: 20px;
  text-align: center;
  line-height: 140%;
}

section.main {
  padding: 20px 0;
  position: relative;
}

footer {
  text-align: center;
  font-size: 90%;
  line-height: 25px;
  clear: both;
  padding-top: 30px;
}

section.signup {text-align: center;}

section.signup form input.email {
  font-size: 125%;
  padding: 5px 5px;
}

section.signup form input.submit {
  font-size: 125%;
  padding: 5px 20px;
  margin-left: 5px;
}


/* adding new subscriptions */

section.entry {
  width: 100%; height: 100px;
  position: relative;
  margin-bottom: 20px;
}

section.entry div.errors {
  color: #c42323;
  font-size: 90%;
  padding-bottom: 10px;
}

section.entry input[type=text] {
  font-size: 250%;
  float: left;
  padding: 10px 10px; 
  width: 860px;
}

/* adapted from http://stackoverflow.com/questions/600438/css-to-hide-input-button-value-text */
section.entry button.search {
  float: left;
  width: 75px;
  margin-left: 10px;
  height: 75px;
  color: transparent; /* Fix for Firefox */
  border-color: #8F8F8F;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  line-height: 1 !important;
  background: transparent url(/images/search-70.png) no-repeat scroll 0 0;
  overflow: hidden;
  cursor: pointer;
}


/* subscription display */

ul.subscriptions {
  clear: both;
  position: absolute;
  right: 0; 
  width: 300px; 
  padding-left: 20px;
}

ul.subscriptions li.keyword {
  width: 100%; position: relative;
  padding: 10px 0 20px 0; clear: both;
}

ul.subscriptions li.keyword {
  border-top: 1px solid #128234;
}

ul.subscriptions li.keyword h2 {
  font-weight: normal;
  font-size: 150%;
  padding: 5px 0px 10px 0px;
}


/* results section */

section.results {
  position: absolute; left: 0;
  width: 650px; margin-right: 30px;
  height: 500px; overflow: auto;
}
section.results div.container {width: 625px;}
section.results div.loading_container {
  display: none; margin: 0 auto; width: 80%;
}

section.results div.loading_container img {
  margin-top: 10px;
}

section.results div.loading_container span {
  color: #444; font-size: 150%;
  display: block;
  padding-top: 20px; padding: 20px;
  padding-left: 50px;
  background-position: left;
  background-image: url(/images/loader.gif);
  background-repeat: no-repeat;
}

section.results p.header {
  font-size: 125%; color: #444;
  margin-bottom: 30px; text-align: center; width: 100%;
  display: none;
}

section.results ul {
  list-style-type: none;
}
section.results ul p.date {
  font-size: 90%;
  width: 100%;
  
  padding: 3px 0;
  border: 1px solid #5577bb;
  background-color: #e5e5ff;
  border-width: 1px 0;
  margin: 20px 0;
  text-align: center; 
}

/* common to results */

section.results li dl.highlight {
  font-size: 90%;
}

section.results li dl.highlight dt {
  margin-top: 10px;
}

section.results li dl.highlight dd {
  background-color: #C9F5E9;
  padding: 10px; 
  margin-left: 0px; margin-top: 5px;
}

section.results li dl.highlight dd em {
  font-weight: bold; font-style: normal;
}

section.results li section.links {
  font-size: 90%; margin-top: 10px;
}

section.results li section.links a {
  margin-left: 10px;
}

section.results li {
  padding: 15px 0 15px 0;
  margin-bottom: 7px;
}


/* federal bill results */

section.results li.bill h2 {
  font-size: 90%; 
  margin-bottom: 7px;
}

section.results li.bill h2 span.code {
  font-weight: bold;
}

section.results li.bill h2 span.version {
  font-weight: normal; 
}

section.results li.bill h2 a.file {
  margin-left: 5px;
}

section.results li.bill h3 {
  font-size: 110%; 
}

section.results li.bill h4 {
  font-size: 90%; 
}

section.results li.bill span.dates {
  margin-top: 10px; display: block;
  font-size: 90%;
}

section.results li.bill span.dates strong {
  font-style: italic;
}

section.results li.state_bill {}

section.results li.state_bill h2 {
  font-size: 90%; 
}

section.results li.state_bill h2 span.state {
  
}

section.results li.state_bill h2 a.read {
  margin-left: 5px;
}

section.results li.state_bill h3 {
  font-size: 110%; 
  margin-top: 8px;
}

section.results li.state_bill div.subjects {
  margin-top: 8px; font-size: 90%;
}

section.results li.speech h2 {
  margin-bottom: 7px;
}

section.results li.speech h2 a.speaker {
}