body {
  background-color: #f9f9f9;
  font-family: "Droid Serif";
}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong {font-weight: normal; font-style: normal;}
ul, ol {list-style-type: none;}
a {color: #335577;}

header, section.main, section.signup {
  width: 880px; 
  position: relative;
}

header, section.entry, section.main section.results, section.signup {
  padding: 0 20px;
}


/* signup page only */

header h2 {
  font-size: 200%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #335577;
}

section.signup {
  text-align: center;
  position: relative;
}


/* general layout */

section.sidebar {
  clear: both;
  position: absolute; right: 0; 
  width: 280px; min-height: 500px;
  
  border-left: 1px solid #d5d5d5;
  padding-left: 20px; padding-right: 20px; padding-top: 10px;
}

section.main {
  height: 0;
}

section.main section.entry {
  width: 100%; height: 100px;
  position: relative;
  padding-top: 10px;
}

section.main section.results {
  position: absolute; left: 0;
  width: 880px;
}

section.main section.results div.loading_container {
  display: none; margin: 0px auto; width: 80%; padding-top: 30px;
}


#flash div.flash {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#flash div.flash.success {
  color: #348145;
}

#flash div.flash.failure {
  color: #C13445;
}


/* login/signup */

section.sidebar div.login {
  font-size: 90%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #444;
}

section.sidebar div.login span {
  padding-right: 5px;
}

section.signup form input.email {
  font-size: 250%;
  padding: 10px 10px;
  width: 700px;
}

section.signup button {
  width: 75px;
  height: 70px;
  font-size: 150%;
  margin-left: 10px;
  font-weight: bold;
  position: absolute; top: 0;
}


/* buttons */

button {
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  background-color: #e5e5e5;
}

button.image {
  color: transparent; /* Fix for Firefox */
  text-align: left;
  line-height: 1 !important;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

button.text {
  padding: 10px 15px;
  font-size: 100%;
  color: #4c4c4c;
  border-color: #8F8F8F;
  border-width: 1px;
  border-radius: 5px;
}

button.text.image {
  color: #4c4c4c;
  background-position: left;
}


/* adding new subscriptions */

section.entry div.errors {
  color: #c42323;
  font-size: 90%;
  padding-bottom: 10px;
}

section.entry input[type=text] {
  font-size: 250%;
  float: left;
  padding: 10px 10px; 
  width: 760px;
}

/* adapted from http://stackoverflow.com/questions/600438/css-to-hide-input-button-value-text */
section.entry button.search {
  float: left;
  margin-left: 10px;
  width: 75px;
  height: 75px;
  border: none;
  background-image: url(/images/search-64.png);
}

section.results div.header button.follow {}
section.results div.header button.follow:hover {}
section.results div.header button.follow.unfollow {
  background-color: #d5d5d5;
}
section.results div.header button.follow.unfollow:hover {
  background-color: #f9f9f9; 
}

/* results  section */

/* tabs */

section.results {}
section.results ul.tabs {
  display: none;
}
section.results ul.tabs li {
  display: inline-block;
  float: left;
  margin: 0; padding: 15px;
  min-width: 170px;
  font-size: 80%;

  border: 0px solid #9f9f9f;
  background-color: #e5e5e5;
  border-right-width: 1px;

  cursor: pointer;
}
section.results ul.tabs li:hover {background-color: #d5d5d5;}
section.results ul.tabs li.active {background-color: #c5c5c5;}
section.results ul.tabs li.first {border-left-width: 1px;}
section.results ul.tabs li.loading {
  background-position: 95% 50%;
  background-image: url(/images/loader-16.gif);
  background-repeat: no-repeat;
  color: #8f8f8f; 
}

/* hide all but the first tab on start */
section.results div.container {
  display: none; 
  clear: both; 
}
section.results div.container div.tab {display: none;}
section.results div.container div.tab:first-child {display: block;}
section.results div.container div.tab.active {display: block;}

section.results div.header {
  background-color: #c5c5c5;
  padding: 10px; position: relative;
  height: 50px;
}
section.results div.header span.description {
  font-size: 150%; line-height: 50px; 
  position: relative; left: 30px;
}

section.results div.header button {
  position: absolute; right: 30px;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 125%;
}

section.results div.tab div.system_error {
  padding-top: 30px; font-size: 125%; 
  width: 100%; text-align: center;
  display: none;
}

section.results div.tab div.loading_container span {
  color: #444; font-size: 150%;
  display: block;
  padding-top: 20px; padding: 20px; padding-left: 50px;
  background-position: left;
  background-image: url(/images/loader-32.gif);
  background-repeat: no-repeat;
}

section.results div.tab div.none {
  padding-top: 50px;
  text-align: center;
}

section.results div.tab div.none p {
  font-size: 125%; 
  width: 100%;
}

section.results div.tab div.none button.refresh {
  margin: 0 auto; width: 100px;
  margin-top: 30px;
  background-color: #f9f9f9;
}

section.results div.results_list {}

section.results ul.items {
  list-style-type: none;
  margin-top: 0px;
}

section.results li.result {
  clear: both; float: left;
  
  padding: 30px 0 20px 0;
}

section.results li.result div.left {
  float: left; width: 150px;
}
section.results li.result div.right {float: left; width: 630px;}
section.results li.result div.left p.date {
  font-size: 125%; color: #6f6f6f; padding-left: 10px;
}

/* common to results */

section.results li.result h2 {
  margin-bottom: 10px; font-size: 125%;
}

section.results li.result h3 {
  margin-bottom: 10px; font-size: 100%; line-height: 24px;
}

section.results li.result dl.highlight dt {
  margin-top: 10px;
  margin-bottom: 5px;
}

section.results em.highlight, section.results .highlight em {
  font-weight: bold; 
  font-style: normal;
  color: #aa0000;
  padding: 2px 0px;
  background-color: #dddddd;
}

section.results li.result section.more {
  font-size: 100%; margin-top: 5px;
}

section.results li.result section.more a {
  margin-right: 10px;
}

section.results .content {
  padding: 10px 0; color: #444; line-height: 20px; font-size: 90%;
}

section.results .subtitle {
  font-size: 90%; color: #333;
  margin-bottom: 10px;
}


/* federal bill results */

section.results li.federal_bills span.version {
  font-weight: normal; 
}

section.results li.federal_bills a.file {
  margin-left: 5px;
}

section.results li.federal_bills span.dates {
  margin-top: 10px; display: block;
  font-size: 90%;
}

section.results li.federal_bills span.dates strong {
  font-style: italic;
}

section.results li.state_bills div.subjects {
  margin-top: 8px; font-size: 90%;
}

section.results li.regulations span.stage {
  font-weight: bold;
}


/* subscription display */

ul.subscriptions li.keyword {
  width: 100%; position: relative;
  padding: 20px 0 30px 0; clear: both;
  border-top: 1px solid #d5d5d5;
}

ul.subscriptions li.keyword.current h2 {
  font-weight: bold;
}

ul.subscriptions li.keyword h2 {
  font-weight: normal;
  font-size: 150%;
  width: 250px;
}

ul.subscriptions li.keyword button.remove {
  width: 22px;
  height: 22px;
  
  background-image: url(/images/x-18.png);
  background-color: #eeeeee;
  
  position: absolute; right: 0; top: 30px;
}

ul.subscriptions li.keyword section.delivery {
  margin-top: 15px; 
  font-size: 80%; color: #888;
}