body {background-color: #f9f9f9;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong {font-weight: normal; font-style: normal;}

a {color: #22447f;}

header, footer, section.main {
  width: 980px;
  margin: 30px 50px;
}

header div.login {
  font-size: 90%;
  margin-bottom: 30px;
}

header div.login span {
  font-style: italic;
}

header #flash div.flash {
  padding: 10px 20px;
  margin-bottom: 15px;
  color: #f5f5f5;
}

header #flash div.flash.success {
  background-color: #348145;
}

header #flash div.flash.failure {
  background-color: #C13445;
}


header p {
  background-color: #c9e9f5;
  padding: 20px;
  text-align: center;
}

section.main {
  padding: 20px 0;
}

footer {
  text-align: center;
  font-size: 90%;
  line-height: 25px;
  clear: both;
  padding-top: 30px;
}

section.signup {text-align: center;}

section.signup form input.email {
  font-size: 125%;
  padding: 5px 5px;
}

section.signup form input.submit {
  font-size: 125%;
  padding: 5px 20px;
  margin-left: 5px;
}


section.subscriptions {
  float: left;
  width: 450px;
  margin-right: 40px;
}
section.subscriptions ul {list-style-type: none;}

section.subscriptions li {
  float: left; width: 450px;
  padding: 10px 0 20px 0; clear: both;
}

section.subscriptions li.existing {
  border-top: 1px solid #128234;
}

section.subscriptions li.new div.errors {
  color: #c42323;
  font-size: 90%;
  padding-bottom: 10px;
}

section.subscriptions li.new input[type=text] {
  font-size: 100%;
  padding: 5px 5px;
  float: left;
}

section.subscriptions li input[type=submit], section.subscriptions li input[type=button] {
  font-size: 100%;
  padding: 5px 10px;
}

section.subscriptions li h2 {
  float: left;
  font-weight: normal;
  font-size: 150%;
  padding: 5px 0px 15px 0px;
}

section.subscriptions li div.buttons {
  float: right;
}

section.results {
  float: left; 
  width: 450px;
  margin-left: 40px;
}

section.results div.loading_container {display: none;}

section.results img.loading {
  margin: 0 auto; display: block;
}

section.results p.header {
  font-size: 110%;
  margin-bottom: 20px;
  display: none;
}

section.results ul {list-style-type: none;}
section.results ul p.date {
  font-size: 90%;
  width: 100%;
  
  padding: 3px 0;
  border: 1px solid #5577bb;
  background-color: #e5e5ff;
  border-width: 1px 0;
  margin: 20px 0;
  text-align: center;
  
}

section.results li.bill {
  padding: 15px 0 15px 0;
  margin-bottom: 7px;
}

section.results li.bill h2 {
  font-size: 90%; 
  margin-bottom: 7px;
}

section.results li.bill h2 span.code {
  font-weight: bold;
}

section.results li.bill h2 span.version {
  font-weight: normal; 
  
}

section.results li.bill h3 {
  font-size: 110%; 
}

section.results li.bill h4 {
  font-size: 90%; 
}

section.results li.bill span.dates {
  margin-top: 10px; display: block;
  font-size: 90%;
}

section.results li.bill span.dates strong {
  font-style: italic;
}

section.results li.bill dl {
  font-size: 90%;
}

section.results li.bill dl dt {
  margin-top: 10px;
}

section.results li.bill dl dd {
  background-color: #C9F5E9;
  padding: 10px; 
  margin-left: 0px; margin-top: 5px;
}

section.results li.bill dl dd em {
  font-weight: bold; font-style: normal;
}

section.results li.bill section.links {
  font-size: 90%; margin-top: 10px;
}

section.results li.bill section.links a {
  margin-left: 10px;
}