ohtml, body{
    background-color: #fafbf8;
    font-family: arial, 'helvetica Neue', sans-serif;
    color: #5c5b60;
    height: 100%;
}

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}
.textIndent{
    text-indent: -9999em;
}

.ie7 img { -ms-interpolation-mode: bicubic; }

input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    text-indent: -9999em;
    border: 0;
}
a {
    color: #1c8398;
}
a:hover {
    color: #1c6979;
}
.contentWrapper{
    width: 960px;
    margin: 0 auto;
}

h2{
    font-family: "alternate-gothic-no-3-d", arial, 'helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    color: #dcc51f;
}
h3, .entry h2{
    font-family: "alternate-gothic-no-3-d", arial, 'helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 175%;
    color: #dcc51f;
}

.trackSubscribe h2 {
    text-transform: none;
}

h5{
    font-weight: bold;
}
p{
    font-size: 81%;
    margin-top: 10px;
}
dt {
    font-weight: bold;
    display: block;
    float: left;
}
dd{
    display: block;
}


nav{
    font-size: 81.25%; /* 13pt /16pt */
    font-weight: bold;
}
nav a{
    -webkit-text-stroke: 0;
    color: transparent;
    background-color: rgba(2, 116, 139, 1);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-shadow: rgba(255, 255, 255, 0.3) 2px 2px 3px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgba(2, 71, 85, 1);
}
nav li{
    padding: 0 30px 0 0;
    display: block;
}
form{
    font-size: 81%;
    font-weight: bold;
}

input[type="text"]{
    display: block;
    background-color: #ffffff;
    border: 0;
    border-top: 1px solid #d5d5d2;
    border-bottom: 1px solid #f2f2f1;
    height: 30px;
    padding: 0 5px;
    color: #ffffff;
}



/*-- Flash Messages --*/

#flash div.flash {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#flash div.flash.success {
  color: #348145;
}

#flash div.flash.failure,
#flash div.flash.user,
#flash div.flash.password,
#flash div.flash.forgot {
  color: #C13445;
  padding: 0;

}


/*-- Header Styling --*/

.headerWrapper{
    background: url('/images/bg_header.png') center bottom repeat-x;
    display: block;
    min-height: 247px;
}
nav ul{
    float: right;
}

nav li{
    float: left;
}

header h1{
    background: url('/images/logo_scout.png') top left no-repeat;
    display: block;
    width: 207px;
    height: 58px;
    margin-top: 70px;
    float: left;
}

#userNav{
    margin-top: 5px;
}

#userNav li.subscriptions{
    background: url('/images/icon_subscriptions.png') 0 1px  no-repeat;
    padding-left: 23px;
}
#userNav li.settings{
    background: url('/images/icon_settings.png') top left no-repeat;
    padding-left: 22px;
}

#search_form .filters{
    display: none;
}
#search_form{
    float: right;
    margin-top: 72px;
}
#search_form div{
    float: left;
}

#search_form .filter{
    display: none;
}
.initialFilters{
    margin-top: 8px;
}
#search_form .filter.states{
    display: block;
}
.searchField label, .categoryMenu label{
    display: none;
}

#search_form input[type="search"]{
    width: 380px;
    padding: 0 5px 0 5px;
    height: 51px;
    background: url('/images/newSearch.png') top left no-repeat;
    display: block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: 0;
    float: left;
}
#search_form .field{
    float: left;
}

#search_form button{
    float: left;
    background: url('/images/btn_newSearch.png') top left no-repeat;
    width: 54px;
    height: 51px;
    margin-left: 14px;
}
#search_form button:hover{
    background: url('/images/btn_newSearch.png') bottom left no-repeat;
}

.count{
    font-weight: normal;
}

#search_form .filter{
    float: left;
}
#search_form .filter li{
    margin-bottom: 4px;
}
#id_category{
    width: 200px;
}
.categoryMenu{
    padding-right: 33px;
    margin-right: 33px;
    background: url('../images/tinyborder_andshadow_vertical_dark.png') right top repeat-y;
}
#search_form .categoryMenu legend{
    margin-bottom: 7px;
}






/*-- Basic Content Structure --*/
div.contentWrapper{
    overflow: hidden;
}

.left{
    float:left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.right{
    float: right;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.sidebar{
    width: 250px;
    background-color: #f5f6f3;
    z-index: 10;
}

.contentArea{
    width: 710px;
}

.sidebar.left{
    border-right: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contentArea.right{
    -webkit-box-shadow: inset 14px 0px 14px -7px #e2e3e0;
    -moz-box-shadow: inset 14px 0px 14px -7px #e2e3e0;
    box-shadow: inset 14px 0px 14px -7px #e2e3e0;
}
.sidebar.right{
    border-left: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contentArea.left{
    -webkit-box-shadow: inset -14px 1px 14px -7px #e2e3e0;
    -moz-box-shadow: inset -14px 0px 14px -7px #e2e3e0;
    box-shadow: inset -14px 0px 14px -7px #e2e3e0;
}





/*-- Sidebar Styling --*/

.sidebar{
}

.sidebar h4{
    font-family: "alternate-gothic-no-3-d", arial, 'helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 143%;
    color: #3d3c41;
    margin-bottom: 17px;
}
.sidebar .module{
    padding: 33px 0;
    margin-left: 10px;
    background: url('/images/sidebar_divider.png') bottom center no-repeat;
}
.sidebar form{
    color: #5c5b60;
}
.sidebar label{
    display: block;
    margin-bottom: 10px;
    font-size: ; /* 11 px / 13 px*/
}
.sidebar input{
    margin-right: 5px;
}
.sidebar legend{
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
}
.sidebar li{
    margin-bottom: 10px;
}
.filters form button{
    background: url('/images/btn_updateResults.png') left top no-repeat;
    width: 231px;
    height: 51px;
}

.filters form button:hover{
    background: url('/images/btn_updateResults.png') left bottom no-repeat;
}
.filters label{
    font-weight: normal;
}



/*-- Footer Styling --*/
.footerWrapper{
    background: url('/images/bg_footer.png') center top repeat-x;
    display: block;
}

.sunlightFoundation{
    background: url('/images/logo_sunlightFoundation.png') top left no-repeat;
    display: block;
    width: 159px;
    height: 48px;
    margin-bottom: 25px;
}
footer{
    padding: 33px 0;
}
.aboutSF{
    float: left;
    width: 282px;
    padding-left: 10px;
}
.aboutSF p{
    margin-left: 52px;
    color: #ffffff;
    font-size: 68%;
}
footer nav{
    float: right;
}






/*-- Homepage Styling --*/

.splash{
    margin-top: -79px;
}
.homeWrapper{
    background: url('../images/bg_homeWrapper.png') center 216px repeat-x;
    padding-bottom: 85px;
}
.homeWrapper .contentWrapper{
    background: url('../images/bg_header.png') center 216px repeat-x;
}

<<<<<<< HEAD


.homeWrapper #search_form input[type="search"]{
    background: url('../images/homeSearch.png') left top no-repeat;
    width: 676px;
}

.homeWrapper #search_form{
    margin-top: 40px;
}

.homeWrapper #search_form button{
    float: right;
    background: url('/images/btn_homeSearch.png') left top no-repeat;
    width: 151px;
}    
.homeWrapper #search_form button:hover{
        background: url('/images/btn_homeSearch.png') left bottom no-repeat;    
    }
.homeWrapper [type="search"]{
    margin-bottom: 16px;
}
.homeWrapper .initialFilters{
    width: 500px;
    float: left;
}

.home.modules{
    margin-left: 235px;
    font-size: 81%;
}

.home.modules .module{
    float: left;
    width: 280px;
    padding: 33px 33px 33px 49px;
    background: url('../images/tinyborder_andshadow_vertical.png') left top repeat-y;
}
.home.modules li{
    margin-bottom: 10px;
}
.home.modules .samples ul{
    margin-left: 16px;
}
.home.modules .samples li{
    list-style-type: disc;
}
.home.modules time{
    font-weight: bold;
    text-transform: uppercase;
}
.home.modules h3{
    color: #000000;
    font-size: 143%;
    color: #3d3c41;
    margin-bottom: 16px;
}







/*-- Search Results Styling --*/
.results .contentArea{
    background: url('/images/tinyshadow.png') top left repeat-x;
}
.pageTitle{
    background: url('/images/tinyborder.png') bottom left repeat-x;
    padding: 16px 0 16px 10px;
}

.searchParameters{
    float: left;
    
}

.pageTitle button{
    float: right;
    background: url('/images/btn_subscribe.png') left top no-repeat;
    width: 150px;
    height: 51px;
}
.pageTitle button:hover{
    background: url('/images/btn_subscribe.png') left bottom no-repeat;
}
.results .contentArea{
    padding-top: 53px;
}
.contentArea.right section{
    background: url('/images/tinyborder_andshadow.png') right top repeat-x;
    margin-bottom: 155px;
    /*background: url('/images/tinyborder_andshadow.png') right top repeat-x,-moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    /*background: url('/images/tinyborder_andshadow.png') right top repeat-x, -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    /*background: url('/images/tinyborder_andshadow.png') right top repeat-x, -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    /*background: linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /*-webkit-box-shadow: inset 14px 0px 14px -7px #e2e3e0;*/
    /*-moz-box-shadow: inset 14px 0px 14px -7px #e2e3e0;*/
    /*box-shadow: inset 14px 0px 14px -7px #e2e3e0; */
    
}
.contentArea ul{
    padding-top: 20px;
    background: url('/images/tinyborder.png') center bottom repeat-x;
}
.results .contentArea li{
    padding: 33px 10px 33px 33px;
    background: url('/images/tinyborder_entry.png') center top no-repeat;
}

.results .contentArea.right li:hover{
    background-color: #f5f6f5;
    -webkit-box-shadow: inset 14px 0px 14px -7px #e2e3e0;
    -moz-box-shadow: inset 14px 0px 14px -7px #e2e3e0;
    box-shadow: inset 14px 0px 14px -7px #e2e3e0;
}

.results .loading, .results .error {
  display: none; margin: 0px auto; width: 80%; padding-top: 30px;
}

.results .loading span, .results .error span {
  color: #444; font-size: 150%;
  display: block;
  padding-top: 20px; padding: 20px; padding-left: 50px;
}

.results .loading span {
  background-position: left;
  background-image: url(/images/loader-32.gif);
  background-repeat: no-repeat;
}

.contentArea h4{
    font-weight: bold;
    font-size: 106%;
    float: left;
    margin-bottom: 10px;
}
.contentArea h4 a{
    text-decoration: none;
    color: #1c6979;
}
.contentArea h4 a:hover{
    color: #1c8398;
}
.contentArea time {
    float: right;
    font-style: italic;
    font-weight: 200;
    font-size: 93%;
}
.contentArea p{
    clear: both;
}
.contentArea em{
    color: #cdb81f;
}
.contentArea.right h3{
    background: url('/images/bg_sectionHeader.png') top right no-repeat;
    display: inline-block;
    height: 38px;
    padding: 7px 70px 0 33px;
    margin-top: -20px;
    -webkit-box-shadow: inset 14px 0px 14px -7px #e2e3e0;
    -moz-box-shadow: inset 14px 0px 14px -7px #e2e3e0;
    box-shadow: inset 14px 0px 14px -7px #e2e3e0;
}
.trackable small{
    border: 1px solid #dcddda;
    background-color: #f5f6f3;
    padding: 7px;
    clear: both;
    display: block;
    font-size: 81%;
    font-style: italic;
    margin-top: 10px;
}
.viewMore{
    float: right;
    font-size: 81%;
    background: url('/images/more.png') right 3px no-repeat;
    padding-right: 45px;
    margin-top: 10px;
}
.viewMore a .dataSet{
    color: #1C6979;
}





/*-- Entry Styling --*/
.entry .pageTitle, .entry .entrySummary, .entry .entryExtras {
    padding: 0 33px 0 10px;
}

.entry .trackSubscribe{
    float: left;
}
.moreInfoLinks{
    font-size: 81%;
    float: left;
}
.moreInfoLinks li{
    display: inline;
}
.moreInfoLinks h5{
    float: left;
    margin-right: 10px;
}
.moreInfoLinks ul{
    display: block;
    float: left;
    padding-top: 0;
}
.sourceLink{
    float: right;
}
.sourceLink, .moreInfoLinks{
    padding-top: 20px;
    font-size: 81%;
}
.entry h2{
    width: 510px;
    float: left;
}
.entry .entryExtras{
    padding: 33px 33px 33px 10px;
    font-size: 81%;
    margin-bottom: 155px;
}

.entryExtras .module{
    width: 50%;
    float: left;

}
.entry .entrySummary{
    padding: 33px 33px 33px 10px;
    border-bottom: 1px dashed #9d9b9b;
}




/*-- Subscriptions Styling --*/
.subscriptionsList{
}

.subscriptions .searchParameters{
    font-style: italic;
    margin-bottom: 10px;
    clear: both;
}
.subscriptionsList{
    padding: 33px 0;
}
.subscriptionsList{
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 1px;
    -moz-column-gap: 1px;
    -webkit-column-gap: 1px;
    column-rule: 1px dashed #cdcdcd;
    -moz-column-rule: 1px dashed #cdcdcd;
    -webkit-column-rule: 1px dashed #cdcdcd;
}

.subscription{
    -mozbox-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 16px;
    background: url('/images/tinyborder_andshadow.png') top left repeat-x;
    column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    font-weight: normal;
}
.subscription h3{
    float: left;
    width: 285px;
}
.rssFeed{
    float: right;
    background: url('/images/rss.png') left top no-repeat;
    width: 22px;
    height: 22px;
    text-indent: -9999em;
}
.rssFeed:hover{
    background: url('/images/rss.png') left bottom no-repeat;
}
.subscriptions .contentArea form{
    margin-bottom: 155px;
}

.subscriptions .contentArea form button{
    background: url('/images/btn_updateSubscriptions.png') left top no-repeat;
    width: 231px;
    height: 51px;
}

.subscriptions .contentArea form button:hover{
    background: url('/images/btn_updateSubscriptions.png') left bottom no-repeat;
}
.subscriptions legend{
    font-family: "alternate-gothic-no-3-d", arial, 'helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 175%;
    color: #dcc51f;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}

.removeSubscription{
    border: 1px solid #dcddda;
    background-color: #f5f6f3;
    padding: 7px;
    clear: both;
    display: block;
    font-style: italic;
    margin-top: 10px;
}





/*-- Settings Styling --*/

.settings .contentArea form input[type="text"]{
    width: 100%;
}
.settings .contentArea form ul{
    padding: 33px 33px 33px 10px;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    margin-bottom: 155px;
    column-gap: 16px;
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
}

.settings .contentArea form li{
    column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}
li.email{
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
}
.settings .contentArea form input{
    margin-bottom: 16px;
}
.settings label span{
    font-weight: normal;
}
.settings .contentArea form small{
    font-style: italic;
    font-weight: normal;
    display: block;
}


/*-- Notification Styling --*/

.overlay {
    display: none;
}


.overlay .light.white {
    display: block;
    position: fixed;
    top: 33%;
    left: 45%;
    width: 10%;
    padding: 10px;
    background: #fafbf8;
    z-index: 1002;
    overflow: auto;
    border: 1px solid #dcddda;
}

.overlay .fade.black {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1001;
    -moz-opacity: .07;
    opacity: .07;
    filter: alpha(opacity=07);
}
.overlay p{
    margin-top: 0;
    margin-bottom: 10px;
}

a.update.button{
    background: url('/images/btn_update.png') left top no-repeat;
    width: 124px;
    height: 51px;
    display: block;
    float: left;
}
a.update.button:hover{
    background: url('/images/btn_update.png') left bottom no-repeat;
}
a.ignore{
    float: left;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 81%;
    text-decoration: underline;
    font-style: italic;
}