body {
  background-color: #f9f9f9;
  font-family: "Droid Serif";
}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong {font-weight: normal; font-style: normal;}
ul, ol {list-style-type: none;}
a {color: #335577;}

section.main {
  width: 880px; 
  position: relative;
}

section.entry, section.main section.results, section.main section.show {
  padding: 0 20px;
}

/* general layout */

section.sidebar {
  position: absolute; right: 0; 
  width: 280px; min-height: 500px;
  
  border-left: 1px solid #d5d5d5;
  padding-left: 20px; padding-right: 20px; padding-top: 10px;
}

section.entry {
  width: 100%; height: 100px;
  position: relative;
  padding-top: 10px;
}

section.main section.results, section.main section.show {
  width: 880px;
}

div.loading_container {
  display: none; margin: 0px auto; width: 80%; padding-top: 30px;
}

div.loading_container span {
  color: #444; font-size: 150%;
  display: block;
  padding-top: 20px; padding: 20px; padding-left: 50px;
  background-position: left;
  background-image: url(/images/loader-32.gif);
  background-repeat: no-repeat;
}


#flash div.flash {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#flash div.flash.success {
  color: #348145;
}

#flash div.flash.failure {
  color: #C13445;
}


/* buttons */

button {
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  background-color: #e5e5e5;
}

button.image {
  color: transparent; /* Fix for Firefox */
  text-align: left;
  line-height: 1 !important;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

button.text {
  padding: 10px 15px;
  font-size: 100%;
  color: #4c4c4c;
  border-color: #8F8F8F;
  border-width: 1px;
  border-radius: 5px;
}

button.text.image {
  color: #4c4c4c;
  background-position: left;
}


/* login/signup */

section.sidebar {top: 0;}
section.sidebar div.login {
  font-size: 90%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #444;
}

section.sidebar div.login span {
  padding-right: 5px;
  line-height: 22px;
  display: block;
}

section.sidebar div.login span.logged_out {
  margin-bottom: 10px; 
}

section.sidebar div.login form input.email {
  font-size: 100%;
  width: 200px;
  padding: 5px 5px;
}

button.text.login {
  padding: 5px 10px;
  font-weight: bold;
}


/* adding new subscriptions */

section.entry div.errors {
  color: #c42323;
  font-size: 90%;
  padding-bottom: 10px;
}

section.entry input[type=text] {
  font-size: 250%;
  position: absolute; left: 20px;
  padding: 10px 10px; 
  width: 760px;
}

/* adapted from http://stackoverflow.com/questions/600438/css-to-hide-input-button-value-text */
section.entry button.search {
  position: absolute; left: 800px;
  
  width: 75px;
  height: 75px;
  border: none;
  background-image: url(/images/search-64.png);
}

section header {
  background-color: #c5c5c5;
  padding: 10px; position: relative;
}

section header button {
  position: absolute; right: 30px;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 125%;
}

section header button.follow.unfollow, section header button.track.untrack {
  background-color: #4c4c4c;
  color: #f9f9f9;
}

section header button.follow.unfollow:hover, section header button.track.untrack:hover {
  background-color: #8c8c8c; 
}

section.results header {
  height: 50px;
}

section.results header span.description {
  font-size: 150%; line-height: 50px; 
  position: relative; left: 30px;
}

section div.logged_out {
  padding: 10px; position: relative;
  height: 17px; 
  background-color: #646464; color: #f5f5f5;
}
section.results div.logged_out span {
  position: relative; left: 30px; padding: 5px; line-height: 17px;
}

/* tabs */

section.results ul.tabs li {
  display: inline-block;
  
  margin: 0; padding: 15px;
  min-width: 170px;
  font-size: 80%;

  border: 0px solid #9f9f9f;
  background-color: #e5e5e5;
  
  cursor: pointer;
}
section.results ul.tabs li:hover {background-color: #d5d5d5;}
section.results ul.tabs li.active {background-color: #c5c5c5;}
section.results ul.tabs li.first {border-left-width: 1px;}
section.results ul.tabs li.loading {
  background-position: 95% 50%;
  background-image: url(/images/loader-16.gif);
  background-repeat: no-repeat;
  color: #8f8f8f; 
}

/* hide all but the first tab on start */
section.results div.container {}
section.results div.container div.tab {display: none;}
section.results div.container div.tab:first-child {display: block;}
section.results div.container div.tab.active {display: block;}

section.results div.tab div.system_error {
  padding-top: 30px; font-size: 125%; 
  width: 100%; text-align: center;
  display: none;
}

section.results div.tab div.none {
  padding-top: 50px;
  text-align: center;
}

section.results div.tab div.none p {
  font-size: 125%; 
  width: 100%;
}

section.results div.tab div.none button.refresh {
  margin: 0 auto; width: 100px;
  margin-top: 30px;
  background-color: #f9f9f9;
}

section.results ul.items {
  list-style-type: none;
  margin-top: 0px;
  padding-bottom: 30px; margin-bottom: 30px;
}

div.next_page {margin-top: 30px;}

div.next_page button.text.page {
  width: 100%; 
  font-size: 150%;
}

div.next_page p {
  color: #444; font-size: 150%;
  display: none;
  padding-top: 20px; padding: 20px; padding-left: 50px;
  background-position: left;
  background-image: url(/images/loader-32.gif);
  background-repeat: no-repeat;
}

section.results li.result {
  padding: 30px 0 20px 0;
}

section.results li.result div.left {
  width: 130px;
  display: inline-block; vertical-align: top;
  padding: 0 30px 0 0px;
}

section.results li.result div.right {
  width: 650px;
  display: inline-block; vertical-align: top;
}
section.results li.result div.left p.date {
  font-size: 125%; color: #6f6f6f; text-align: right;
}

section.results li.result div.more {margin-top: 10px; text-align: right;}
section.results li.result div.more a {font-size: 125%; color: #192F8C;}


/* common to results */

section.results li.result h2 {
  margin-bottom: 10px; font-size: 125%;
}

section.results li.result h3 {
  margin-bottom: 10px; font-size: 100%; line-height: 24px;
}

section.results li.result dl.highlight dt {
  margin-top: 10px;
  margin-bottom: 5px;
}

section.results em.highlight, section.results .highlight em {
  font-weight: bold; 
  font-style: normal;
  color: #aa0000;
  padding: 2px 0px;
  background-color: #dddddd;
}

section.results li.result section.more {
  font-size: 100%; margin-top: 5px;
}

section.results li.result section.more a {
  margin-right: 10px;
}

section.results .content {
  padding: 10px 0; color: #444; line-height: 20px; font-size: 90%;
}

section.results .subtitle {
  font-size: 90%; color: #333;
  margin-bottom: 10px;
}


/* federal bill results */

section.results li.federal_bills span.code {font-weight: bold;}


section.results li.federal_bills a.file {
  margin-left: 5px;
}

section.results li.federal_bills span.dates {
  margin-top: 10px; display: block;
  font-size: 90%;
}

section.results li.federal_bills span.dates strong {
  font-style: italic;
}

section.results li.state_bills div.subjects {
  margin-top: 8px; font-size: 90%;
}

section.results li.regulations span.stage {
  font-weight: bold;
}


/* subscription display */

ul.subscriptions li.keyword {
  width: 100%; position: relative;
  padding: 20px 0 30px 0;
  border-top: 1px solid #d5d5d5;
}

ul.subscriptions li.keyword.current h2 {
  font-weight: bold;
}

ul.subscriptions li.keyword h2 {
  font-weight: normal;
  font-size: 150%;
  width: 250px;
}

ul.subscriptions li.keyword button.remove {
  width: 22px;
  height: 22px;
  
  background-image: url(/images/x-18.png);
  background-color: transparent;
  
  position: absolute; right: 0; top: 22px;
}

ul.subscriptions li.keyword section.types {
  margin-top: 10px; 
  font-size: 80%; color: #444;
}

/* show pages */

section.show {}
section.show header {
  padding: 15px 10px;
}

section.show header div.titles {
  position: relative; left: 10px; width: 75%;
}

section.show header h4 {font-size: 100%; color: #434343;}
section.show header h2 {font-size: 125%; margin-top: 10px;}
section.show header h3 {font-size: 100%; margin-top: 10px;}

section.show section.detail {
  padding: 20px 0;
}