######## Miscellaneous tasks ###########

*/30 * * * * /projects/alarms/current/config/cron/staging/rake.sh subscriptions:reinitialize


######## Delivery tasks ########

# email digests - once a day, in the morning
0 10 * * * /projects/alarms/current/config/cron/staging/deliver.sh email_daily

# immediate emails - throughout the day, every 10 minutes
*/10 * * * *  /projects/alarms/current/config/cron/staging/deliver.sh email_immediate

# SMS messages - throughout the day, every 10 minutes
*/10 * * * * /projects/alarms/current/config/cron/staging/deliver.sh sms


######## Polling tasks  #########

# keyword search subscriptions

# bills in Congress - daily, bounded by THOMAS/GPO
45 6 * * *  /projects/alarms/current/config/cron/staging/check.sh federal_bills

# bills in the states - Open States 
0 12 * * *     /projects/alarms/current/config/cron/staging/check.sh state_bills

# speeches in Congress - daily, bounded by GPO
0 9 * * *  /projects/alarms/current/config/cron/staging/check.sh speeches

# regulations - FederalRegister.gov updates at unknown intervals
45 11 * * *     /projects/alarms/current/config/cron/staging/check.sh regulations


# item-specific subscriptions

# activity on bills in Congress - daily, bounded by THOMAS
45 12 * * *  /projects/alarms/current/config/cron/staging/check.sh federal_bills_activity

# upcoming notices for bills in congress - bounded by party leadership
45 * * * *   /projects/alarms/current/config/cron/staging/check.sh federal_bills_upcoming_floor

# upcoming hearings for bills in Congress - updated throughout the day
30 * * * *   /projects/alarms/current/config/cron/staging/check.sh federal_bills_hearings

# vote results for bills in Congress - updated by House/Senate throughout the day
0 * * * *   /projects/alarms/current/config/cron/staging/check.sh federal_bills_votes

# activity on bills in the States - once an hour, who knows when these will be updated
0 * * * * /projects/alarms/current/config/cron/staging/check.sh state_bills_activity

# activity on bills in the States - once an hour, who knows when these will be updated
30 * * * * /projects/alarms/current/config/cron/staging/check.sh state_bills_votes


# external feed subscriptions, once an hour
0 * * * * /projects/alarms/current/config/cron/staging/check.sh feed

# keep the newline below
