
<div id="share-buttons"></div>
<script type="text/javascript" src="https://cdns.gigya.com/js/gigyaGAIntegration.js" ></script>
<script src="https://cdns.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
<script>
  $(document).ready(function() {
      var ua = new gigya.socialize.UserAction();
      
      /*
       * Set these values as you would with Open Graph tags on the page.
       * Delete what you don't need.
       */
      // ua.setLinkBack("http://sunlightfoundation.com/blog/2012/07/09/2day-in-opengov-792012/");
      var title = "Scout - &quot;<%= escape_javascript(interest_name(interest).gsub("\"", "&quot;")) %>&quot;"
      ua.setTitle(title);
      ua.setUserMessage(title);
      ua.setDescription("Search and notifications on what Congress, the White House, and your state legislature are doing.");
      ua.addMediaItem({
          type: 'image',
          href: '<%= escape_javascript request.url %>',
          src: 'https://scout.sunlightfoundation.com/images/logo_scout.png'
      });
      
      /*
       * parameter docs at:
       * http://developers.gigya.com/020_Client_API/020_Methods/socialize.showShareBarUI
       */
      var params = {
          containerID: 'share-buttons',
          iconsOnly: true,
          layout: 'horizontal',
          noButtonBorders: true,
          shareButtons: 'twitter-tweet,facebook-send',
          shortURLs: 'never',
          showCounts: 'none',
          userAction: ua
      };
      gigya.socialize.showShareBarUI(params);
  });
</script>