<li class="item.subscription_type">
    <time datetime="" pubdate><%= just_date_year item.date %></time>
    <%= partial "subscriptions/#{item.subscription.subscription_type}/result", :engine => "erb", :locals => {:item => item, :interest => query} %>
</li>