<form action="#" method="get" id="search_form">
    <fieldset class="searchField">
        <label for="query">Search</label>
        <input class="transparent query" name="query" type="search" 
            placeholder="<%= search? ? "Start a new search..." : "Search for a keyword or phrase..." %>" />
    </fieldset>

    <div class="clear"></div>
    
    <fieldset class="initialFilters">
        <label for="search_subscription_type" class="subscription_type">Search through</label>

        <%= select_tag :subscription_type, :class => "subscription_type", :id => "search_subscription_type", :options => search_types %>

    </fieldset>

    <button type="submit">
        <span>Search</span>
    </button>
    <div class="clear"></div>
</form>