<form action="#" method="get" id="search_form">
    <fieldset class="searchField">
        <label for="query">Search</label>
        <input class="transparent query" name="query" type="search" placeholder="Start new search..." />
    </fieldset>

    <div class="clear"></div>
    
    <fieldset class="initialFilters">
        <label for="search_subscription_type" class="subscription_type">Search through</label>

        <%= select_tag :subscription_type, :class => "subscription_type", :id => "search_subscription_type", :options => search_types, :selected => (params[:subscriptions] || search_types.first[1]) %>

        <!-- <ul class="filter initial state_bills">
            <li>
                <label>
                    <input type="radio" name="state_bills_type" value="all">
                    All States
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="state_bills_state" value="single"
                       
                        >
                    State:
                </label>

                <select class="state_bills_state_single">
                    <% state_map.keys.sort.each do |code| %>
                        <option value="<%= code %>"><%= state_map[code] %></option>
                    <% end %>
                </select>
            </li>
        </ul> -->
    </fieldset>

    <button type="submit">
        <span>Search</span>
    </button>
    <div class="clear"></div>
</form>