<% if items and items.any? %>  
  <% items.each do |item| %>
    <%= partial "search/item", :engine => "erb", :locals => {:item => item, :query => query} %>
  <% end %>

    <% unless sole %>
        <a href="/search/<%= subscription.subscription_type %>/<%= h query %>" class="viewMore">
            View more <span><%= subscription.search_name %></span>
        </a>
    <% end %>

<% else %>
<!--     <div class="no_results">
        No results.
    </div>

    <div class="no_results remote_error">
        There was an error while searching. You can try again.
    </div> -->
<% end %>