<% if items and items.any? %>  
    <ul class="items">
      <% items.each do |item| %>
        <%= partial "search/item", :engine => "erb", :locals => {:item => item, :query => query} %>
      <% end %>
    </ul>

    <% if sole %>
        <!-- next page...?! -->
    <% else %>
        <a href="/search/<%= subscription.serialize %>/<%= h query %>" 
            class="viewMore"
            data-pjax="#center"
            >
            View more <span class="dataSet"><%= subscription.search_name %></span>
        </a>
    <% end %>

<% else %>

    <div class="no_results">
        No results.
    </div>

<% end %>