<p>
 Congressional Documents include a wide range of testimony, reports, markup documents and more. Resources are updated several times a day.
</p>
<p>
 Scout is in its first phase of the collecting collecting congressional documents focusing on the rich resources of the <a href="http://docs.house.gov/">U.S. House of Representatives Committee Repository.</a>
</p>
<p>
 Additional congressional documents will be collected for the Senate and other sources as the project progresses. House committee documents include all  
</p>
<p>
 Congressional documents are gathered using the <a href="https://github.com/unitedstates/congress">unitedstates/congress</a> project.
</p>