<body style="background: white;color: #47464A; font-family: 'helvetica Neue', arial, sans-serif;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="email_header" style="text-align: left; background-image: url(https://scout-assets.s3.amazonaws.com/assets/images/bg_header_email.gif);background-position: bottom;min-height: 80px;width: 100%;">
  <tr>
    <td>
      <img class="scout_logo" width="207" src="https://scout-assets.s3.amazonaws.com/assets/images/logo_scout.png" style="border: 0;text-align: top;display: inline;padding: 20px;padding-bottom: 30px;">
    </td>
  </tr>
</table>
