<li>
	<label for="state">State</label>
	<select name="state" class="filter_control">
	  <option value="">-- All States --</option>
	  <% state_map.keys.sort.each do |code| %>
	      <option value="<%= code %>"><%= state_map[code] %></option>
	  <% end %>
	</select>
</li>

<li>
  <label for="status">Status</label>
  <select name="status" class="filter_control">
    <option value="">-- Any bill --</option>
    <option value="passed_lower">Passed lower chamber</option>
    <option value="passed_upper">Passed upper chamber</option>
    <option value="signed">Signed</option>
  </select>
</li>