<% bill = item.data %>
<h2>
  A bill from
  <span class="state"><%= state_name bill['state'] %></span>:
</h2>

<p class="content">
  <%= excerpt bill['title'], keyword %>
</p>

<% if state_source_info?(bill) %>
  <section class="more">
    <% if state_version_info?(bill) %>
      <a class="read" href="<%= bill['versions'].last['url'] %>">Read</a>
    <% end %>

  </section>
<% end %>
 