<% bill = item.data %>
<a href="<%= item_path item %>">
  <h4>
    <%= bill['bill_id'] %>
  </h4>
</a>

<div class="subtitle">
  <span class="state"><%= state_name bill['state'] %></span>
</div>

<p>
  <%= state_bill_highlight item, interest %>
</p>