<% bill = item.data %>
<a href="<%= item_path item %>">
  <h4>
    <%= bill['bill_id'] %>
  </h4>
</a>

<div class="subtitle">
  <span class="state"><%= state_name bill['state'] %></span>
  &mdash;
  <strong>
    <% if bill['action_dates']['signed'] %>
      Signed
    <% elsif bill['action_dates']['passed_lower'] and bill['action_dates']['passed_upper'] %>
      Passed both chambers
    <% elsif bill['action_dates']['passed_lower'] %>
      Passed lower chamber
    <% elsif bill['action_dates']['passed_upper'] %>
      Passed upper chamber
    <% else %>
      Introduced
    <% end %>
  </strong>
</div>

<p>
  <%= state_bill_highlight item, interest %>
</p>