<% bill = item.data %>
<a href="<%= item_path item %>">
  <h4>
    <%= bill['bill_id'] %> from <span class="state"><%= state_name bill['state'] %></span>
  </h4>
</a>

<p>
  <%= excerpt bill['title'], interest %>
</p>