<% bill = item.data %>
<title>
  <%= bill['bill_id'] %>
</title>
<description><![CDATA[
  <p>
    <strong>
      <%= state_name bill['state'] %>
    </strong>
  </p>
  <p>
    <%= state_bill_highlight item, interest %>
  </p>
]]></description>