<% bill = item.data %>
<title>
  "<%= interest.in %>" - <%= bill['bill_id'] %> (<%= bill['state'].upcase %>)
</title>
<description><![CDATA[
  <%= excerpt bill['title'], interest.in %>
]]></description>