<p>
  Court opinions are provided by <a href="https://www.courtlistener.com/">CourtListener</a>, which is developed by the <a href="http://freelawproject.org/">Free Law Project</a>.
</p>
<p>
  Scout currently limits court opinion search to 31 federal appellate and special courts, and only as far back as 2009. We may expand this over time.
</p>
<p>
  For more comprehensive search facilities, <a href="https://www.courtlistener.com/">visit CourtListener directly</a> to search their complete <a href="https://www.courtlistener.com/coverage/">historical archive</a> of opinions across <a href="https://www.courtlistener.com/api/jurisdictions/">hundreds of jurisdictions</a> at the state and federal level.
</p>