<% opinion = item.data %>
<title>
  <h4>
    <%= opinion['case_name'] %>
  </h4>
</title>
<% if highlight = opinion_highlight(item, interest) %>
  <description><![CDATA[
    <p>
      <strong>Court opinion</strong> from the <%= opinion['court'] %>
    </p>
    <p>
      <%= highlight %>
    </p>
  ]]></description>
<% else %>
  <description>
    No excerpt available.
  </description>
<% end %>