# hostname that will be used in emails (include port if needed)
:hostname: localhost:8080
:session_secret: # fill in with something unique per-deployment

:mongoid:
  host: localhost
  database: scout
  raise_not_found_error: false

:log_file: /dev/null

:email:
  :via: :smtp
  :from:
  :reply_to:
  :via_options:
    :address:
    :port:
    :user_name:
    :password:
    :authentication: plain
    :domain:
    :enable_starttls_auto: false

# subscription-specific stuff
:subscriptions:
  :sunlight_api_key: 

# where error emails should go
:admin:
  :email: # 

:debug:
  # outputs polled URLs to STDOUT
  :output_urls: false

# list of subscription types to hide (default to showing everything)
:hide_subscription_types:
  - 
