# set to true to enable downtime mode
downtime: false

# Add Sentry DSN to use Sentry for exception handling
# sentry:

# optional Slack integration for admin notices
slack:
  channel: "#scout"
  username: scout
  icon_emoji: ":ghost:" # emoji for avatar (include colons, can be custom emoji)
  team: # subdomain for your slack
  token: # check your webhook integration for the token


# Provide an S3 bucket and path to examine for backups.
# Optional: add the rake task to the crontab to enable.
# backups:
#   bucket: # bucket name
#   path: # prefix, e.g. "backups/are-in-this-dir"
#   access_key:
#   secret_key:

# Change the following settings to match your organization's details.
organization:
  name: Sunlight Foundation
  url: http://sunlightfoundation.com/
  # General intake email for comments, questions and bug reports.
  contact: scout+contact@sunlightfoundation.com
  # A brief description to appear in the page's footer.
  description: The Sunlight Foundation is a nonpartisan nonprofit that advocates for open government globally and uses technology to make government more accountable to all.
  # The organization's domain for display to users.
  domain: SunlightFoundation.com
  # A URL to the organization's privacy policy.
  privacy: http://sunlightfoundation.com/legal/privacy/
  # A URL to the organization's terms of service.
  terms: http://sunlightfoundation.com/legal/terms/
  # The value of the top-level RSS <description> tag.
  rss_description: US government-wide search and notification service. Created by the Sunlight Foundation, a non-profit dedicated to using the power of technology to increase government transparency and accountability.

layout:
  # Uncomment to set your Google site verification code.
  # @see https://support.google.com/webmasters/answer/35179?hl=en
  # google_site_verification: 5EhJ93mPwaiWioTBlDqRtVwFZhwteGQ-7ysCs-hlUxI

  # Uncomment to use Google Analytics.
  # @see https://support.google.com/analytics/answer/1032385?hl=en
  # google_analytics_property_id: UA-22821126-16
  #
  # Uncomment to use a global roll-up property as well.
  # google_analytics_property_id_global: UA-48789618-1

  # Twitter summary card.
  # @see https://dev.twitter.com/docs/cards/types/summary-card
  twitter_site: "@sunfoundation"
  twitter_site_id: 5743162

  # Uncomment to use Chartbeat.
  # @see https://chartbeat.com/
  # chartbeat_uid: 980
  # chartbeat_domain: scout.sunlightfoundation.com

  # Uncomment to use TypeKit.
  # @see https://typekit.com/
  # typekit_id: bsl1eko

subscriptions:
  # If you are using the Sunlight Foundation's subscription adapters, get a
  # Sunlight API key at http://sunlightfoundation.com/api/accounts/register/
  sunlight_api_key:
  # If you are using the CourtListener adapter for court opinions,
  # register for an account at https://www.courtlistener.com
  courtlistener_username:
  courtlistener_password:

# The application's hostname, e.g. to generate full URLs in email messages.
# e.g. Sunlight's production URL is "https://scout.sunlightfoundation.com"
hostname: "http://localhost:8080"

# Your secret key for verifying the integrity of signed cookies. If you change
# this key, all old signed cookies will become invalid!
#
# You can use this code to generate a secure secret key:
#
#     require 'securerandom'
#     puts SecureRandom.hex(64)
session_secret: change-this-to-something-else

# Disables caching of remote content (useful in development).
# Set to false in production.
no_cache: true

# Assets include stylesheets, javascripts and images.
assets:
  # Set to true in production, or to override the default assets.
  enabled: false
  # This URL (or path) will appear before "assets" and the asset's path.
  asset_host:
  # If the following are set, you can sync assets to S3 with:
  #
  #     bundle exec rake assets:sync
  s3:
    bucket:
    access_key:
    secret_key:

# Outgoing email configuration.
email:
  # Either "pony" for SMTP and sendmail or "postmark".
  via: pony
  # The "From" header of outgoing messages.
  from:
  # The "Reply-To" header of outgoing messages.
  reply_to:

  # The following options are passed directly to Pony.
  # @see https://github.com/benprew/pony#readme
  pony:
    # Either "smtp" or "sendmail".
    via: smtp
    via_options:
      # The address of your SMTP server.
      address:
      # The port on your SMTP server.
      port:
      # Your SMTP username.
      user_name:
      # Your SMTP password.
      password:
      # "plain", "login" or "cram_md5".
      authentication: plain
      # The HELO domain provided by the client to the server.
      domain:
      # If using TLS/SSL.
      enable_starttls_auto: false

  # Sign up at https://postmarkapp.com/
  postmark:
    api_key:

debug:
  # Whether the subscription manager should print polled, searched, fetched and
  # synced URLs to STDOUT. Useful both in development and production.
  output_urls: true

# A Sunlight API key, distinct from the key used to search, poll, etc., that
# will be used *in public* to link to source data. For example, if you add the
# `hood=up` query string to item pages, you will see a link in the sidebar to
# the "underlying data".
# @see https://scout.sunlightfoundation.com/item/bill/hr624-113?hood=up
demo_key:

# A list of email addresses to which admin notices will be sent.
admin:
  -

# A list of email addresses to which analytics reports will be sent.
analytics:
  -

# MongoDB configuration.
# @see http://mongoid.org/en/mongoid/docs/installation.html#configuration
mongoid:
  development:
    sessions:
      default:
        database: scout_development
        hosts:
          - "localhost:27017"
        options:
          safe: true
    options:
      raise_not_found_error: false

  production:
    sessions:
      default:
        database: scout
        hosts:
          - "localhost:27017"
        options:
          safe: true
    options:
      raise_not_found_error: false

  test:
    sessions:
      default:
        database: scout_test
        hosts:
          - "localhost:27017"
        options:
          safe: true
    options:
      raise_not_found_error: false
