development:
  host: localhost
  database: scout
  raise_not_found_error: false
  logger: false

test:
  host: localhost
  database: scout_test
  raise_not_found_error: false
  logger: false

production:
  host: localhost
  database: scout
  raise_not_found_error: false
  logger: false