development:
  sessions:
    default:
      database: scout
      hosts: 
        - "localhost:27017"
  options:
    raise_not_found_error: false

test:
  sessions:
    default:
      database: scout_test
      hosts: 
        - "localhost:27017"
  options:
    raise_not_found_error: false