<% items.each do |item| %>
  <item>

    <%= partial "subscriptions/#{item.subscription_type}/rss", :engine => "erb", :locals => {:item => item} %>

    <h4><link><%= item_url item %></link></h4>
    <guid><%= item_guid item %></guid>
    <pubDate><%= rss_date item.date %></pubDate>
  </item>
<% end %>