<p>
  Bill text is provided by <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=BILLS">GPO</a>, and most other information on bills comes from <a href="http://govtrack.us">GovTrack</a>, through <a href="http://thomas.gov">THOMAS</a>. Information from THOMAS and GPO is delayed by about one day, and goes back to 2009.
</p>
<p>
  Notices of when a bill is coming the floor for debate come from the <a href="http://majorityleader.gov/floor/daily.html">House Republican Majority Leader</a>, and <a href="https://democrats.senate.gov/floor/">Senate Democratic Caucus</a>. This information is usually published a few days in advance, and can change rapidly.
</p>