	<li>
		<label for="stage">Stage</label>
		<select name="stage" class="filter_control">
		  <option value="">-- Any Stage --</option>
		  <option value="enacted">Became Law</option>
		  <option value="vetoed">Vetoed</option>
		  <option value="awaiting_signature">Awaiting Signature</option>
		  <option value="passed_house">Passed House</option>
		  <option value="passed_senate">Passed Senate</option>
		</select>
	</li>
	<!-- <li>
		Not until the search endpoint supports "in" operations...
		<label for="type">Type</label>
		<select name="bill_type" class="filter_control">
		  <option value="">-- Any Type --</option>
		  <option value="bill">Bill</option>
		  <option value="resolution">Resolution</option>
		</select>
	</li> -->