<% bill = item.data %>
<title><%= bill['short_title'].present? ? bill['short_title'] : bill['official_title'] %></title>
<% if highlight = bill_highlight(item, interest) %>
    <description><![CDATA[
      <%= highlight %>
    ]]></description>
<% elsif bill['summary'].present? %>
  <description><![CDATA[
    <%= truncate bill['summary'], 500 %>
    ]]></description>
<% else %>
  <description>
    No excerpt or summary available.
  </description>
<% end %>