<li>
  <label for="document_type">Type of document</label>
  <select name="document_type" class="filter_control">
    <option value="">-- Any Type --</option>
    <option value="gao_report">GAO Reports</option>
    <option value="ig_report">Inspector General Reports</option>
  </select>
</li>