<% document = item.data %>
<title><%= document['title'] %></title>
<description><![CDATA[
  <% if (highlight = document_highlight(item, item.interest_in)) %>
    <%= highlight %>
  <% elsif document['description'].present? %>
    <%= document['description'] %>
  <% else %>
    No excerpt or description available.
  <% end %>
]]></description>