<p>Hi,</p>

<p>To confirm that you want to receive Scout alerts at this email address, click on the link below:</p>

<p>
<%= Environment.config['hostname'] %>/account/confirm?confirm_token=<%= user.confirm_token %>
</p>

<hr/>

<p>
This email is sent from <a href="<%= Environment.config['hostname'] %>">Scout</a>, a service of the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>.
</p>

<p>
If you received this message in error, you can safely delete it.
</p>