Hi,

We've reset your password. You should login as soon as possible with this new password, and change it to something else.

Your new password: <%= new_password %>

Visit Scout to log in with your new password:

<%= Environment.config['hostname'] %>/login


<hr/>

This email is sent from <a href="<%= Environment.config['hostname'] %>">Scout</a>, a service of the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>.

If you received this message in error, you can safely delete it.