<p>Hi,</p>

<p>We've received a request to reset the password for the account at this email address.</p>

<p>Click the link below to confirm your email. This will send you another email with your new password.</p>

<p>
<%= Environment.config['hostname'] %>/account/password/reset?reset_token=<%= user.reset_token %>
</p>

<hr/>

<p>
This email is sent from <a href="<%= Environment.config['hostname'] %>">Scout</a>, a service of the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>.
</p>

<p>
If you received this message in error, you can safely delete it.
</p>