<% regulation = item.data %>
<title><%= regulation['title'] %></title>
<description><![CDATA[
  <% if regulation['search']['highlight'] %>
    <%= regulation_highlight item, item.interest_in %>
  <% else %>
    <%= regulation['abstract'] %>
  <% end %>
]]></description>