<% speech = item.data %>
<% if speech['bioguide_id'] %>
  <h2>
    <%= speaker_name speech %> said:
  </h2>
<% end %>

<dl class="highlight content">
  <dd>
    "<%= speech_excerpt speech, keyword %>"
  </dd>
</dl>

<section class="more">
  <a href="<%= speech['capitolwords_url'] %>">CapitolWords</a>
  <a href="<%= speech['origin_url'] %>">Original</a>
</section>