<!-- <div class="module searches recent">
    <h4>Your recent searches</h4>
    <ul>
        <li><a href="">item one</a></li>
        <li><a href="">item two</a></li>
        <li><a href="">item three</a></li>
        <li><a href="">item four</a></li>
        <li><a href="">item five</a></li>
    </ul>
</div> -->