<div class="blocked service">
  <p>
    This email is already registered through a partner service,
    <a href="<%= Environment.services[service]['url'] %>">
      <%= Environment.services[service]['name'] %></a>.
  </p>
  <p>
    Unfortunately, at this time you cannot use the same email address on both services.
  </p>
  <p>
    You can use an alternate email address, or use <a href="http://lifehacker.com/144397/instant-disposable-gmail-addresses">a plus sign (+)</a> to make a harmless modification to your email address. For example, if your email is <strong>example@gmail.com</strong>, you can safely use <strong>example+scout@gmail.com</strong> to register and receive emails.
  </p>
</div>