<div class="display">

  <% if collection.description.present? %>
    <%= light_format collection.description %>
  <% end %>

  <% if user == current_user %>
    <div class="edit_link">
      <% if collection.description.present? %>
        <a href="#" class="description edit">
          edit description
        </a>
      <% else %>
        <a href="#" class="description new">
          add description
        </a>
      <% end %>
    </div>
  <% end %>
</div>

<% if user == current_user %>
  <div class="edit">
    <textarea class="description"
      placeholder="Describe this collection of subscriptions. (optional)"
      ><%= h collection.description %></textarea>
    <button class="smallButton description">
      Update
    </button>
    <a class="description cancel" href="#">cancel</a>
  </div>
<% end %>