<div class="contentArea full import">

  <div class="add rss">
    <h2>Import a Feed</h2>
    <form action="#" method="get" class="preview">
      <label>
        Paste in the URL of the feed you'd like to get alerts for:
      </label>
      <input type="text" placeholder="Feed URL" class="feed_url" value="<%= h url %>"/>
      <button type="submit" class="smallButton preview">
        Preview
      </button>
      <div class="clear"></div>
    </form>
    <ul class="feed_rules">
      <li>
        Must be a valid RSS feed, not bigger than 1MB in size.
      </li>
      <li>
        Nothing obscene or otherwise inappropriate (for that, maybe you want <a href="http://ifttt.com/wtf">ifttt</a>).
      </li>
    </ul>
  </div>

  <div class="feed_preview hide_start">

    <h3 class="header hide_start">
      Does this look right?
    </h3>

    <div class="clear"></div>

    <div class="details hide_start">
      <fieldset class="title">
        <label>Title</label>
        <input type="text" placeholder="Enter a title" name="title" class="title" />
      </fieldset>
      <fieldset class="description">
        <h5>Description</h5>
        <textarea name="description"></textarea>
      </fieldset>
    </div>

    <button class="create">
      <span>Create Alert</span>
    </button>
    
    <div class="clear"></div>

    <div class="contents">
      <ul class="items hide_start">
        <!-- fill in with items! -->
      </ul>
      <div class="previewing loading hide_start">
        <span>Fetching feed for preview...</span>
      </div>

      <div class="creating loading hide_start">
        <span>Creating alert...</span>
      </div>

      <div class="empty hide_start">
        <span>This feed is currently empty.</span>
      </div>

      <div class="error hide_start">
        <span>Not a valid feed.</span>
      </div>

      <div class="created hide_start">
        <span>Subscription created.</span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {

    var preview = function() {

      var url = $.trim($("input.feed_url").val());
      if (!url) return false;

      // reset
      $(".hide_start").hide();

      var preview = $("div.feed_preview").show();
      preview.find(".previewing").show();

      $.get("/import/feed/preview", {url: url}, function(data) {
        preview.find(".previewing").hide();

        preview.find("input.title").val(data.title);
        preview.find("fieldset.description textarea").html(data.description);
        preview.find("ul.items").html(data.html);
        preview.find(".header, .details, ul.items").show();
      }).error(function() {
        preview.find(".previewing").hide();

        preview.find(".error").show();
      });

      return false;
    };

    var createSubscription = function() {

      var url = $.trim($("input.feed_url").val());
      if (!url) return false;

      var title = $.trim($("input.title").val());

      var preview = $("div.feed_preview");
      preview.find("ul.items").hide();
      preview.find(".creating").show();

      $.post("/import/feed/create", {url: url, title: title}, function(data) {
        preview.find(".creating").hide();

        console.log("Created feed with ID " + data.interest_id);

        window.location = "/account/subscriptions";

      }).error(function() {
        preview.find(".creating").hide();

        preview.find(".error").show();
      });

    };

    <% if logged_in? %>
      $("button.create").click(createSubscription);
    <% else %>
      $("button.create").click(function() {window.location = "/login?redirect=" + Utils.currentPath();});
    <% end %>

    $("form.preview").submit(preview);

    if ($("input.feed_url").val())
      preview();

  });
</script>