<div class="sidebar right">

	  <!-- also filled in dynamically when tags are added/removed -->
	  <div class="module tags">
	    <h4>Topics</h4>

	  <small>
	    <a href="/account/settings?highlight=username">Create a username</a> to allow public sharing.
	  </small>

	  <ul class="tag_list">

	      <li>
	        <a href="/4fba6b84bdaba307d8000002/banana" class="name">banana</a>
	      </li>

	  </ul>

	  </div>

	  <div class="module rss">
	    <a href="/import/feed">Import an RSS feed</a> from anywhere on the Internet.
	  </div>

</div>

<div class="contentArea left tag public">
	<div class="tagHeader">
		<h2>
			Open Government			
		</h2>
		<a class="rss feed" href="/interest/4fba6ba0bdaba307d80000c1.rss">RSS</a>
		<button>
			<span>Follow</span>
		</button>
		<div class="clear"></div>
		<span class="username author"> Sunlight Foundation</span>
		<textarea class="description" placeholder="Describe this topic and collection of Scout feeds."></textarea>
		<p class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</div>
	<div class="section keywords">
		<h2>Searches</h2>
		<div class="interest">
			<h3 class="interestHeader">
				"foia"
			</h3>
			<div class="removeHeader">
				<span>Remove From Topic</span>
			</div>
			<div class="subscription" data-interest_id="4fba6ba0bdaba307d80000c1">
				<div class="edit">
					<div class="clear"></div>
					<div class="removeSubscription">
						<input id="remove" type="checkbox" name="remove" class="remove">
						<label for="remove">Remove</label>
						<button class="remove smallButton">Remove</button>
						<div class="clear"></div>
						<div class="indicators">
							<span class="spinning">spinning</span>
							<span class="okay">okay</span>
							<span class="failed">not okay</span>
						</div>
					</div>
				</div>
				<div class="details">
					<h4>
						<a href="/search/federal_bills/foia?federal_bills[stage]=awaiting_signature">Bills in Congress</a><span class="title">Awaiting Signature</span>
					</h4>
					<a class="rss feed" href="/interest/4fba6ba0bdaba307d80000c1.rss">RSS</a>
					<div class="clear"></div>
					<div class="tags">
						<form>
							<label>Tags</label>
							<input class="tags" type="text" name="interest[tags]" placeholder="" value="banan">
							<!-- <button class="smallButton">OK</button> -->
						</form>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>  
</div>