<p>
  Speeches from the Congressional Record are provided by <a href="http://capitolwords.org/">Capitol Words</a>, a Sunlight Foundation project that analyzes word usage in Congress.
</p>
<p>
  The Congressional Record is published by <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=CREC">GPO</a> once each morning and covers 1996 to the present.
</p>