<% speech = item.data %>
<title>
  <% if speech['bioguide_id'] %>
    <%= just_date item.date %> - <%= speaker_name speech %>
  <% else %>
    <%= just_date item.date %>
  <% end %>
</title>
<description><![CDATA[
  "<%= speech_excerpt speech, interest %>"
]]></description>