<% speech = item.data %>
<title>
  <%= speech['title'] %>
</title>
<description><![CDATA[
  <p>
    <strong>Speech in Congress</strong>
    by
    <%= speaker_name speech %>
  </p>
  <p>
    "<%= speech_excerpt speech, interest %>"
  </p>
]]></description>