<% hearing = item.data %>

<h4>
  <a href="<%= hearing_url hearing %>">
    <%= hearing['committee']['name'] %>
  </a>
</h4>

<p>
  <%= truncate_more "hearing-#{hearing['occurs_at'].to_i}", hearing['description'], 200 %>
</p>