<% hearing = item.data %>
<title>
  <%= interest_name item.interest %> - Hearing in the <%= hearing['committee']['name'] %>
</title>
<description><![CDATA[
     <%= hearing['description'] %>
]]></description>