<% report = item.data %>
<h3 class="highlight">
  <%= excerpt report['title'], interest %>
</h3>

<section class="more">
  <a href="<%= report['url'] %>">Summary</a>
  <a href="<%= report['pdf_url'] %>">PDF</a>
</section>