<% report = item.data %>
<h3 class="highlight">
  <%= excerpt report['title'], keyword %>
</h3>

<section class="more">
  <span>More:</span>
  <a href="<%= report['url'] %>">Summary</a>
  <a href="<%= report['pdf_url'] %>">PDF</a>
</section>