<table width="100%" border="0" cellspacing="0" cellpadding="0" id="footer" style="padding: 20px;margin: 0;margin-top: 1em;font-size: 90%;width: 100%;color: #666;background: url(https://scout-assets.s3.amazonaws.com/assets/images/bg_openstates_email.png) repeat center top; min-height: 80px;">
  <tr>

    <td class="table_center" style="text-align: center;">&nbsp;</td>
     <td class="table_center" style="text-align: center;"><img src="https://scout-assets.s3.amazonaws.com/assets/images/logo_sunlightFoundation_email.png" class="logo_footer" style="padding-left: 20px;padding-bottom: 20px;padding-right: 20px;"></td>
    <td class="table_center" style="text-align: center;">&nbsp;</td>

  </tr><tr>
    <td class="table_column_width" style="width: 15%;">&nbsp;</td>
    <td>
      <p>
        You can <a href="<%= email_url "http://openstates.org/favorites/", service: "open_states" %>" target="_blank" style="color: #1c8398;">manage your subscriptions</a> on the web. Reply to this email to send feedback, bug reports, or effusive praise our way.
      </p>
      <p>
        Open States notifications are provided by the nonpartisan <a href="<%= email_url "http://sunlightfoundation.com", service: "open_states" %>" target="_blank" style="color: #1c8398;">Sunlight Foundation</a>, a nonprofit that uses cutting-edge technology and ideas to make government transparent and accountable.
      </p>
      <p>
        For alerts on federal legislation, regulations, and other documents, check out Sunlight's <a href="<%= email_url "https://scout.sunlightfoundation.com", service: "open_states" %>" target="_blank" style="color: #1c8398;">Scout</a>.
      </p>
    </td>
    <td class="table_column_width" style="width: 15%;">&nbsp;</td>
  </tr>
</table>

</body>