<div class="left about contentArea">
  <div class="module">
    <h2>404</h2>

    <p>
      <%= sadness %>: what you are looking for has not been found. If you believe this is an error on our part, <a href="mailto:<%= Environment.config['organization']['contact'] %>">send us a note</a>.
    </p>

    <p>
      <a href="/">Return to the homepage</a>
    </p>

  </div>
</div>