<h4>
  <%= subscription.adapter.search_name subscription %>
</h4>
<table class="activity">
  <tbody>
    <% if items.any? %>
      <% items.sort {|a, b| b.date <=> a.date}.first(5).each do |item| %>
        <%= partial "subscriptions/#{subscription.subscription_type}/result", :engine => :erb, :locals => {:item => item} %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">Nothing yet.</td>
      </tr>
    <% end %>
  </tbody>
</table>