<div class="left about contentArea">
  <div class="module">
    <h2>About</h2>

    <p>
      Scout is a free service that provides daily insight to how our laws and regulations are shaped in Washington, DC and our state capitols.
    </p>
    <p>
      These days, you can receive electronic alerts to know when a company is in the news, when a TV show is scheduled to air or when a sports team wins. Now, you can also be alerted when our elected officials take action on an issue you care about.
    </p>
    <p>
      Scout allows anyone to subscribe to customized email or text alerts on what Congress is doing around an issue or a specific bill, as well as bills in the state legislature and federal regulations. You can also add external RSS feeds to complement a Scout subscription, such as press releases from a member of Congress or an issue-based blog.
    </p>
    <p>
      Anyone can <a href="/collections">create a collection</a> of Scout alerts around a topic, for personal organization or to make it easy for others to easily follow a whole topic at once.
    </p>
    <p>
      Researchers can use Scout to see when Congress talks about an issue over time. Members of the media can use Scout to track when legislation important to their beat moves ahead in Congress or in state houses. Non-profits can use Scout as a tool to keep tabs on how federal and state lawmakers are making policy around a specific issue.
    </p>
    <p>
      Early testing of Scout during its open beta phase alerted Sunlight and allies in time to successfully stop an overly broad exemption to the Freedom of Information Act from being applied to legislation that was moving quickly in Congress. <a href="http://sunlightfoundation.com/blog/2012/06/11/scout-sunlights-new-custom-alert-service">Read more about that here.</a>
    </p>
    <p>
      Thank you to the Stanton Foundation, who contributed generous support to Scout's development.
    </p>
  </div>

  <div class="module">
    <p>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qjPkJEt4R4k" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>

  <div class="module">
    <h2>Data</h2>

    <p>
      Scout was developed by Sunlight Labs and data comes from a variety of sources.
    </p>

    <h3>Bills in Congress</h3>

    <%= partial "subscriptions/federal_bills/data", :engine => :erb %>

    <h3>Speeches in Congress</h3>

    <%= partial "subscriptions/speeches/data", :engine => :erb %>

    <h3>State Bills</h3>

    <%= partial "subscriptions/state_bills/data", :engine => :erb %>

    <h3>Federal Regulations</h3>

    <%= partial "subscriptions/regulations/data", :engine => :erb %>
  </div>
  <div class="module">
    <h2>Contact Us</h2>

    <p>
      For questions or comments, please <a href="mailto:scout+contact@sunlightfoundation.com" class="feedback">contact us</a>. We promise to respond promptly.
    </p>
  </div>
</div>
<div class="right sidebar">
  <div class="module">
    <h4>Policies</h4>
    <ul>
        <li><a href="http://sunlightfoundation.com/legal/privacy/">Privacy Policy</a></li>
        <li><a href="http://sunlightfoundation.com/legal/terms/">Terms of Service</a></li>
    </ul>
  </div>
</div>
