<div class="left about contentArea">
  <div class="module">
    <h2>Downtime</h2>

    <p>
      We've taken Scout offline while we work through some server issues. Thanks for your patience -- we'll have Scout working again as soon as possible.
    </p>

  </div>
</div>