<% content_for(:home) {true} %>

<div class="home modules">
	<h2 class="splashtext">
		Get alerts about issues you care about.
	</h2>
	<div class="row functions">
		<div class="module">
			<h3>Congress</h3>
			<p>
				Stay up to date on the Hill, from bills to floor schedules to speeches to GAO Reports.
			</p>

		</div>
		<div class="module">
			<h3>Regulations</h3>
			<p>
				What happens after a law passes? Follow regulatory activity for all federal agencies.
			</p>
		</div>
		<div class="module">
			<h3>State Legislation</h3>
			<p>
				Track legislative action for all 50 states, plus D.C. and Puerto Rico. Powered by Open States.
			</p>
		</div>
		<div class="module updates samples">
			<h3>And More!</h3>
			<p>
				Get custom alerts by <a href="<a href="/import/feed">">adding your own RSS or Atom feed</a>.
			</p>
		</div>
		<div class="clear"></div>
	</div>

	<div class="row">
		<div class="module rad-collections">
			<h3>Featured Topics</h3>
			<div class="feature-collection">
				<div class="vert-middle">
					<div class="collection-curator">
						<img src="<%= asset_path "/images/logo_sunlightFoundation_dark.png" %>"/>
					</div>
					<p>
						<em>Sunlight Foundation</em> is following <a href="">The Transparency Ecosystem</a>.
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="more-collections">
				<h4>More collections to follow</h4>
				<ul>
					<li><a href="#">Internet Surveillance</a>, by <strong>EFF</strong></li>
					<li><a href="#">Freedom of Information</a>, by <strong>Sunlight Foundation</strong></li>
					<li><a href="#">Helium</a>, by <strong>Tom Lee</strong></li>
					<li><a href="#">Internet Surveillance</a>, by <strong>EFF</strong></li>
					<li><a href="#">Freedom of Information</a>, by <strong>Sunlight Foundation</strong></li>
					<li><a href="#">Helium</a>, by <strong>Tom Lee</strong></li>
				</ul>
			</div>
		</div>
		<div class="module video">
			<h3>Watch a tutorial</h3>
			<a href="http://www.youtube.com/watch?v=cKbRsZjoIBU" target="_blank">
				<img src="<%= asset_path "/images/youtube.png" %>"/>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#search_form input.query").focus();
	});
</script>