<% content_for(:home) {true} %>

<div class="home modules">
	<h2 class="splashtext">
		Get alerts on issues you care about.
	</h2>
	<div class="row functions">
		<div class="module">
			<h3>Congress</h3>
			<p>
				Stay up to date on the Hill, from <a href="/search/federal_bills/*/">bills</a> to <a href="/search/speeches/*/">speeches</a> to <a href="/search/documents/*/">government reports</a>.
			</p>
		</div>

		<div class="module">
			<h3>After Congress</h3>
			<p>
				What happens after a law passes? Follow <a href="/search/regulations/*/">regulatory activity</a> and <a href="/search/court_opinions/*/">court opinions</a> across the federal government.
			</p>
		</div>

		<div class="module">
			<h3>State Legislation</h3>
			<p>
				Track <a href="/search/state_bills/*/">state legislative action</a> for all 50 states, plus D.C. and Puerto Rico. Powered by <a href="http://openstates.org">Open States</a>.
			</p>
		</div>

		<div class="module updates samples">
			<h3>And More!</h3>
			<p>
				Get custom alerts <a href="/import/feed">via RSS or Atom feeds</a>, such as alerts on <a href="http://reporting.sunlightfoundation.com/fec-alerts/subscribe-to-alerts/">new FEC filings</a>. Or, <a href="/collections">create custom collections</a> of alerts.
			</p>
		</div>

		<div class="clear"></div>
	</div>

	<div class="row">
		<div class="module rad-collections">
			<h3>Featured Collections</h3>
			<div class="feature-collection">
				<div class="vert-middle">
					<div class="collection-curator">
						<img src="<%= asset_path "/images/featured/eff-logo.png" %>"/>
					</div>
					<p>
						The <em>Electronic Frontier Foundation</em> is following <a href="https://scout.sunlightfoundation.com/user/eff/nsa-spying-reform">NSA spying reform</a>.
					</p>
				</div>

				<div class="clear"></div>
			</div>
		</div>
		<div class="module video">
			<a href="http://www.youtube.com/watch?v=cKbRsZjoIBU" target="_blank">
				<img src="<%= asset_path "/images/youtube.png" %>"/>
			</a>
		</div>
		<div class="module social">
			<h3>Share Scout</h3>
			<div class="share-buttons" id="share-buttons"
				  data-socialite="ready"
				  data-services="twitter-tweet,facebook"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#search_form input.query").focus();
	});
</script>