<% set_home %>

<div class="home modules">
	<div class="module updates video">
		<iframe width="280" height="158" src="https://www.youtube-nocookie.com/embed/cKbRsZjoIBU" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="module whatUp">
		<h3>Using Scout</h3>
		<ul>
			<li>
				Set up alerts and subscribe to receive updates from Congress, state legislatures and more via email or SMS text.
			</li>
			<li>
				Search through every bill and regulation in the federal government.
			</li>
			<li>
				Be notified when Congress plans to vote on a bill.
			</li>
			<li>
				Follow and search bills in all 50 states; powered by the <a href="http://openstates.org">Open States</a> project.
			</li>
			<li>
				Import an RSS feed to complement issue alerts.
			</li>
			<li>
				Learn more by watching the video to the left.
			</li>
		</ul>
	</div>
	<div class="module updates samples">
		<h3>Suggested Subscriptions</h3>
		<ul>
			<li>
				Receive updates on what Congress and the states are doing and saying about <a href="/search/all/freedom%20of%20information">freedom of information</a>.
			</li>
			<li>
				Stay up-to-date on the campaign finance <a href="/item/bill/s2219-112">DISCLOSE Act</a> in the House and Senate.
			</li>
			<li>
				Check out Sunlight's lists of curated alerts, covering issues such as <a href="/user/sunlightfoundation/lobbying">lobbying</a> and <a href="/user/sunlightfoundation/regulatory-review">regulatory reforms</a>.
			</li>
			<li>
				Read about how Scout helped a non-profit <a href="http://sunlightfoundation.com/blog/2012/05/25/scout-is-already-delivering-results">deliver results</a> on Capitol Hill.
			</li>
		</ul>
	</div>
</div>
