<% content_for(:home) {true} %>

<div class="home modules">
	<h2 class="splashtext">
		Be a better government watchdog. <em>Stay alert.</em>
	</h2>
	<div class="row functions">
		<div class="module">
			<h3>Congress,</h3>
			<p>
				Everything the legislative branch does and says, from bills to floor schedules to speeches to GAO reports. <a class="browse" href="">browse</a>
			</p>

		</div>
		<div class="module">
			<h3>Regulations,</h3>
			<p>
				What happens after that law gets passed? Follow regulatory activity in every single executive agency. <a class="browse" href="">browse</a>
			</p>
		</div>
		<div class="module">
			<h3>State Legislation,</h3>
			<p>
				Legislative action in all 50 state capitols - even DC and Puerto Rico. Powered by the Open States project. <a class="browse" href="">browse</a>
			</p>
		</div>
		<div class="module updates samples">
			<h3>& anything else!</h3>
			<p>
				We'll take any RSS or ATOM feed you want to keep tabs on and alert you on updates.
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="row">
		<div class="module rad-collections">
			<h3>Scout Collections</h3>
			<div class="feature-collection">
				<div class="vert-middle">
					<div class="collection-curator">
						<img src="<%= asset_path "/images/logo_sunlightFoundation_dark.png" %>"/>
					</div>
					<p>
						<em>Sunlight Foundation</em> is following <a href="">The Transparency Ecosystem</a>.
					</p>
				</div>
			</div>
			<div class="more-collections">
			<h4>More collections to follow</h4>
			<ul>
				<li><a href="">Lorem Ipsum Dolor Set</a></li>
				<li><a href="">Lorem Ipsum Dolor Set</a></li>
				<li><a href="">Lorem Ipsum Dolor Set</a></li>
				<li><a href="">Lorem Ipsum Dolor Set</a></li>
			</ul>
			</div>
		</div>
		<!--
		<div class="module video">
			<a href="http://www.youtube.com/watch?v=cKbRsZjoIBU" target="_blank">
				<img src="<%= asset_path "/images/youtube.png" %>"/>
			</a>
		</div>
		-->
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#search_form input.query").focus();
	});
</script>