<% content_for(:home) {true} %>

<div class="home modules">
	<h2 class="splashtext">
		Get alerts about issues you care about.
	</h2>
	<div class="row functions">
		<div class="module">
			<h3>Congress</h3>
			<p>
				Stay up to date on the Hill, from <a href="/search/federal_bills/*">bills</a> to <a href="/search/speeches/*">speeches</a> to <a href="/search/documents/*">GAO Reports</a>.
			</p>

		</div>
		<div class="module">
			<h3>Regulations</h3>
			<p>
				What happens after a law passes? Follow <a href="/search/regulations/*">regulatory activity</a> for all federal agencies.
			</p>
		</div>
		<div class="module">
			<h3>State Legislation</h3>
			<p>
				Track <a href="/search/state_bills/*">state legislative action</a> for all 50 states, plus D.C. and Puerto Rico. Powered by <a href="http://openstates.org">Open States</a>.
			</p>
		</div>
		<div class="module updates samples">
			<h3>And More!</h3>
			<p>
				Get custom alerts by <a href="/import/feed">adding your own RSS or Atom feed</a>. For example, get alerts on <a href="http://reporting.sunlightfoundation.com/fec-alerts/subscribe-to-alerts/">new FEC filings</a>.
			</p>
		</div>
		<div class="clear"></div>
	</div>

	<div class="row">
		<div class="module rad-collections">
			<h3>Featured Topics</h3>
			<div class="feature-collection">
				<div class="vert-middle">
					<div class="collection-curator">
						<img src="<%= asset_path "/images/logo_sunlightFoundation_dark.png" %>"/>
					</div>
					<p>
						<em>Sunlight Foundation</em> is following <a href="https://scout.sunlightfoundation.com/user/sunlight_collection/campaign-finance">Campaign Finance</a>.
					</p>
				</div>

				<div class="clear"></div>
			</div>
			<!-- <div class="more-collections">
				<h4>More collections to follow</h4>
				<ul>
					<li><a href="#">Internet Surveillance</a>, by <strong>EFF</strong></li>
					<li><a href="#">Freedom of Information</a>, by <strong>Sunlight Foundation</strong></li>
					<li><a href="#">Helium</a>, by <strong>Tom Lee</strong></li>
					<li><a href="#">Internet Surveillance</a>, by <strong>EFF</strong></li>
					<li><a href="#">Freedom of Information</a>, by <strong>Sunlight Foundation</strong></li>
					<li><a href="#">Helium</a>, by <strong>Tom Lee</strong></li>
				</ul>
			</div> -->
		</div>
		<div class="module video">
			<h3>Watch a tutorial</h3>
			<a href="http://www.youtube.com/watch?v=cKbRsZjoIBU" target="_blank">
				<img src="<%= asset_path "/images/youtube.png" %>"/>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#search_form input.query").focus();
	});
</script>