<p>
  Information on state legislation comes from <a href="http://openstates.org/">Open States</a>, a Sunlight Foundation project that publishes data on state legislative activity for all 50 states, Puerto Rico and the District of Columbia.
</p>
<p>
  This data originates from the official websites of the 50 state legislatures, and is published at various times throughout the day, depending on the state.
</p>

<% if searching? %>
  <p>
    <em>Note:</em> Dates shown are when the bill became known to the Open States project, not necessarily when the bill was introduced.
  </p>
<% end %>
