<% bill = interest.data %>
<% upcoming = item.data %>

<%= email_header just_date(upcoming['legislative_day']), item_url(item) %>

<%= email_content_p %>
  Coming up on the <%= upcoming['chamber'].capitalize %> Floor
</p>