<% upcoming = item.data %>
<td class="time">
  <time datetime="<%= html_date upcoming['legislative_day'] %>"><%= upcoming_date upcoming %></time>
</td>
<td>
  <a href="<%= upcoming['url'] %>"><%= upcoming['chamber'].capitalize %> Floor</a>
</td>