<% upcoming = item.data %>
<title>
  <%= interest_name item.interest %>
</title>
<description><![CDATA[
  <strong>
    Scheduled for the Floor
  </strong>
  &mdash;
  Coming up on the <%= upcoming['chamber'].capitalize %> Floor
]]></description>