<% upcoming = item.data %>
<title>
  <%= interest_name item.interest %> - Scheduled for the Floor
</title>
<description><![CDATA[
  Coming up on the <%= upcoming['chamber'].capitalize %> Floor
]]></description>